:root {
	--body-bg: #F6F6F6;
  --container-bg: #FFFFFF;
  --container-width: 1080px;
  --container-height: 1920px;
	--lower-screen-container-bg: #262626;
	--lower-screen-container-color: #888888;
	--lower-screen-logo: url("../img/svg/lower-screen-logo.svg");	

	--font-family-default: "Pretendard", sans-serif;
	--fc-title-color: #262626;
	--fc-base-color: #3D3D3D;
	--fc-sub-color: #5D5D5D;
  --fc-blue-color: #2B54CA;
	--fc-green-color: #176334;
  --fc-red-color: #D41515;
	--fc-white-color: #FFFFFF;
	--fc-accent-color: #2B54CA;
	--bg-white: #FFFFFF;
	--bg-accent: #FCE9D8;
	--bg-transparent: transparent;

  --header-width: 100%;
  --header-height: 120px;
  --header-bg: #FFFFFF;
	--header-bg--no_bg: #FFFFFF;
	--main-width: 1080px;
	--main-height: calc(100% - (var(--header-height) + var(--control-bar-height)));
	--main-progress-height: 1520px;
	--main-height-lower: 720px;

	--header-logo-img: url("../img/svg/logo.svg");	
  --header-btn-home-img: url("../img/svg/icon_home.svg");
  --header-btn-lang-img: url("../img/svg/flag_of_korea.svg");
  --header-btn-help-img: url("../img/svg/icon_bell.svg");
	--header-btn-call-bk-img: url("../img/svg/icon_call_bk.svg");
	--header-btn-bg: #FFFFFF;
	--header-btn-bg-active: #B0B0B0;
  --header-btn-border: 2px solid #3D3D3D;
	--header-btn-text: #3D3D3D;
	--header-btn-call-bg: #DEEAFB;	
	--header-btn-call-bg-active: #C4DCF9;
	--header-btn-call-text: #2846A5;
	--header-btn-box-shadow: 0px -6px 0px 0px #00000040 inset, 0px 1px 2px 0px #00000033;
	--header-btn-box-shadow-active: 0px 0px 0px 0px #00000033;

	--btn-disabled-border: #E7E7E7;
	--btn-disabled-bg: #FFFFFF;
	--btn-disabled-color: #B0B0B0;
	--btn-disabled-box-shadow: 0px -6px 0px 0px #E7E7E7 inset;

	--main-bg: #F6F6F6;
	--main-bg-white: #FFFFFF;
	--main-location-bg:#F6F6F6 url("../img/svg/icon_marker.svg") no-repeat 30px 10px / 60px;
	--main-border-top: 2px solid #D1D1D1;

	--main__title-color: #262626;
	--main__title-desc-color: #454545;
  --main__title--alert-icon: url("../img/svg/icon_alert.svg");
  --main__button--service-bg: linear-gradient(180deg, #3368DD 0%, #2846A5 100%);
	--main__button--service-bg-active: linear-gradient(180deg, #243B7C 0%, #243B7C 100%);
	--main__button--service-box-shadow: 0px 6px 15px 0px #00000080;
	--main__button--service-box-shadow-active: 0px 6px 15px 0px #00000033;
	--main__button--service-text-color: #FFFFFF;
	--main__button--service-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--main__lang-color: #3D3D3D;
  --main__button--service-member-img: url("../img/svg/icon_service_member.svg");
  --main__button--service-guest-img: url("../img/svg/icon_service_guest.svg");
  --main-service-signup-border: 4px solid #3368DD;
  --main-service-signup-box-shadow: 0px 6px 15px 0px #0000004D;
	--main-service-signup-title-color: #3D3D3D;
	--main-service-signup-bg: linear-gradient(180deg, #FFFFFF 34.48%, #F0F6FE 100%);
	--main-service-signup-bg-active: linear-gradient(180deg, #DEEAFB 34.48%, #DEEAFB 100%);
  --main-service-signup-box-shadow-active: 0px 6px 15px 0px #00000033;
	--main-info-desc: #262626;
	--main-title-bg-lower: #262626;
	--main-title-color-lower: #FFFFFF;
	--main-title-border-lower: 2px solid #5d5d5d;

  --control-bar-width: 100%;
	--control-bar-height: 120px;
  --control-bar-bg: #FFFFFF;
	--control-bar--no_bg: #FFFFFF;
  --control-bar--border-top: 2px solid #E7E7E7;
	--control-bar-sound-bg: #F6F6F6;	
  --control-bar-sound-button-border: 2px solid #6F6F6F;
  --control-bar-sound-button-box-shadow: 0px -6px 0px 0px #00000040 inset, 0px 1px 2px 0px #00000033;
	--control-bar-sound-button-bg: #FFFFFF;
	--control-bar-sound-button-bg-active: #B0B0B0;
  --control-bar-sound-button-box-shadow-active: 0px 2px 3px 0px #00000066;
	--control-bar__sound-level-color: #262626;

	--accessibility-btn-bg: #FFFFFF;
  --accessibility-btn-border: 2px solid #3D3D3D;
  --accessibility-btn-color: #3D3D3D;
	--accessibility-btn-color-active: #FFFFFF;
  --control-bar__sound-icon--minus: url("../img/svg/icon_minus.svg");
  --control-bar__sound-icon--plus: url("../img/svg/icon_plus.svg");
	--control-bar__sound-icon--volume: url("../img/svg/icon_volume.svg");

	--accessibility-high-contrast: url("../img/svg/accessibility-high-contrast.svg");
	--accessibility-high-contrast-active: url("../img/svg/accessibility-high-contrast-active.svg");
	--accessibility-lower-screen: url("../img/svg/accessibility-lower-screen.svg");
	--accessibility-lower-screen-active: url("../img/svg/accessibility-lower-screen-active.svg");
	--accessibility-full-screen: url("../img/svg/accessibility-full-screen.svg");
	--accessibility-full-screen-active: url("../img/svg/accessibility-full-screen-active.svg");

	--info-card-bg: #FFFFFF;
  --info-card-border: 2px solid #E7E7E7;
  --info-card-title-bg: #DEEAFB;
  --info-card-title-color: #3D3D3D;
  --info-card-label-color: #4F4F4F;	
  --info-card-value-color: #3D3D3D;	

  --info-box--bg: #FFFFFF;
  --info-box--border: 2px solid #E7E7E7;
	--info-box--color: #3D3D3D;
  --info-list-text-color: #3D3D3D;
	--info-box--header-color: #454545;
	--info-list-blt: url("../img/svg/blt_list.svg");
	--info-header--icon: url("../img/svg/icon_info.svg"); 
	--info-header--divider-line: #E7E7E7;
	--info-box-title--bg: #FFF1F1;
	--info-box-title--color: #D41515; 
	--info-btn-icon: url("../img/svg/icon_info.svg");  

	--main-btn-call-bg: #003478;
	--main-btn-call-box-shadow: 0px -6px 0px 0px #00195F inset, 0px 4px 8px 0px #00000033;
	--main-btn-call-color: #FFFFFF;
	--main-btn-call-bg-active: #1B2750;	
	--main-btn-call-box-shadow-active: 0px 0px 0px 0px #00195F inset, 0px 0px 0px 0px #00000033;
  --main-btn-call-img: url("../img/svg/icon_call.svg"); 

	--main-btn-cancel-img: url("../img/svg/icon_cancel.svg");	
	--main-btn-prev-img: url("../img/svg/icon_prev.svg");
  --main-btn-next-img: url("../img/svg/icon_next.svg");
  --main-btn-next-img-disabled: url("../img/svg/icon_next_disabled.svg");	
  --main-btn-primary-color: #FFFFFF;
  --main-btn-primary-bg: #2B54CA;
  --main-btn-primary-box-shadow: 0px -8px 0px 0px #243B7C inset;	
  --main-btn-primary-bg-active: #1B2750;
  --main-btn-primary-box-shadow-active: 0px 0px 0px 0px #2846A5 inset;

  --main-btn-secondary-bg: #FFFFFF;
  --main-btn-secondary-color: #3D3D3D;
  --main-btn-secondary-box-shadow: 0px -8px 0px 0px #00000040 inset;
  --main-btn-secondary-border: 3px solid #3D3D3D;
  --main-btn-secondary-bg-active: #B0B0B0;
  --main-btn-secondary-box-shadow-active: 0px 0px 0px 0px #00000040 inset;
	--main-btn-dark-bg: #4F4F4F;
	--main-btn-dark-color: #FFFFFF;
  --main-btn-dark-box-shadow: 0px -8px 0px 0px #3D3D3D inset;
	--main-btn-dark-bg-active: #3D3D3D;
  --main-btn-dark-box-shadow-active: 0px 0px 0px 0px #3D3D3D inset;

	--normal-button-border: 2px solid #4F4F4F;
	--normal-button-bg: #FFFFFF;
	--normal-button-color: #3D3D3D; 
	--normal-button-box-shadow: 0px -4px 3px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--normal-button-bg-active: #B0B0B0;
	--normal-button-box-shadow-active: 0px 2px 3px 0px #00000066;

	--progress-steps-bg: #FFFFFF;
	--progress-step-line: #6F6F6F;
	--progress-step-line-current: #2846A5;
	--progress-step-text-default: #6F6F6F;
	--progress-step-text-current: #262626;
	--progress-step-text-completed: #262626;
	--progress-step-index-border: 2px solid #ffffff;
	--progress-step-index-span-border: 2px solid #6F6F6F;	
	--progress-step-border-current: #2846A5;
	--progress-step-bg-current: #2846A5;
	--progress-step-color-current: #FFFFFF;
	--progress-step-border-completed: #2846A5;
	--progress-step-bg-completed: #2846A5;
	--progress-step-img-completed: url("../img/svg/icon_check.svg");
  --progress-step-index-current-border: 2px solid #2846A5;
  --progress-step-index-current-bg: #DEEAFB;

	--lower-screen-progress-step-line-current: #FFFFFF;
	--lower-screen-progress-step-text: #D1D1D1;
	--lower-screen-progress-step-text-current: #FFFFFF;
	--lower-screen-progress-step-text-completed: #FFFFFF;
	--lower-screen-progress-step-index-border: 2px solid transparent;
	--lower-screen-progress-step-border-current: #FFFFFF;
	--lower-screen-progress-step-bg-current: #FFFFFF;
	--lower-screen-progress-step-color-current: #000000;
	--lower-screen-progress-step-index-current-border:2px solid #FFFFFF;
	--lower-screen-progress-step-index-current-bg: transparent;
	--lower-screen-progress-step-index-span-border: 2px solid #D1D1D1;
	--lower-screen-progress-step-img-completed: url("../img/svg/icon_check_bk.svg");
	--lower-screen-progress-step-border-completed: #FFFFFF; 
	--lower-screen-progress-step-bg-completed: #FFFFFF;

	--dry-time-title-color: #4F4F4F;
	--dry-time-panel-border: 2px solid #B0B0B0;
	--dry-time-panel-bg: #FFFFFF;
	--dry-time-price-color: #3D3D3D;
  --dry-time-btn-bg: #FFFFFF;
  --dry-time-btn-border: 2px solid #3D3D3D;
  --dry-time-btn-color: #3D3D3D;
  --dry-time-btn-box-shadow: 0px -6px 0px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
  --dry-time-btn-bg-active: #B0B0B0;
  --dry-time-btn-box-shadow-active: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
 	--dry-time-btn-border-disabled: 2px solid #B0B0B0;
	--dry-time-btn-color-disabled: #B0B0B0;
	--dry-time-btn-box-shadow-disabled:  0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--dry-time-icon-color: #3D3D3D;
	--dry-time-icon-color-disabled: #B0B0B0;
	--dry-time-guide-color: #3D3D3D;

	--product-card-bg: #FFFFFF;
	--product-card-border: 3px solid #3D3D3D;
	--product-card-box-shadow: 0px -8px 0px 0px #0000004D inset, 0px 2px 3px 0px #00000066;
	--product-card-bg-active: #B0B0B0;
	--product-card-box-shadow-active: 0px 2px 3px 0px #00000066;	
	--product-card-color: #4F4F4F;
	--product-card-price-color: #2B54CA;
	--product-card-color-disabled: #B0B0B0;
	--product-card-border-disabled: 3px solid #B0B0B0;

	--privacy-policy-color: #3D3D3D;

	--modal-backdrop: rgba(0, 0, 0, 0.5); 	
	--modal-box-shadow: 0px 0px 20px 0px #00000040;
	--modal-border: 2px solid #262626;	
	--modal-bg: #fff;
  --modal-title-color: #3D3D3D;	
  --modal-btn-bg: #2B54CA;
  --modal-btn-color: #FFFFFF;
  --modal-btn-bg-active: #2846A5;
  --modal-btn-box-shadow: 0px -5px 5px 0px #00000040 inset, 0px 2px 3px 0px #00000066;  
  --modal-button-primary--color: #FFFFFF;
  --modal-button-primary--bg: #2846A5;
  --modal-button-primary--box-shadow: 0px -6px 0px 0px #243B7C inset;
  --modal-button-primary--bg-active: #003478;
  --modal-button-primary--box-shadow-active: 0px 0px 0px 0px #2B54CA inset;
  --modal-button-secondary--bg: #FFFFFF;
  --modal-button-secondary--color: #3d3d3d;
  --modal-button-secondary--border: 3px solid #3D3D3D;
  --modal-button-secondary--box-shadow: 0px -6px 0px 0px #26262640 inset;
  --modal-button-secondary--bg-active: #B0B0B0;
  --modal-button-secondary--box-shadow-active: 0px 0px 0px 0px #26262640 inset;
  --modal-button-dark--color: #FFFFFF;
  --modal-button-dark--bg: #4F4F4F;
  --modal-button-dark--border: 3px solid #4F4F4F;
  --modal-button-dark--box-shadow: 0px -8px 0px 0px #3D3D3D inset;
  --modal-button-dark--bg-active: #3D3D3D ;
  --modal-button-dark--box-shadow-active: 0px 0px 0px 0px #26262640 inset;	
  --modal-timer-icon: url("../img/svg/icon_timer.svg") no-repeat;
  --modal-timer-icon-red: url("../img/svg/icon_timer_red.svg") no-repeat;	
  --modal-timer-color: #3D3D3D;
  --modal-timer-countdown-color: #2846A5;
	--modal-amount-label-color: #4F4F4F;
	--modal-amount-value-color: #2B54CA;
	--modal-confirm-color: #3D3D3D;

	--modal-mute-btn-icon--mute: url("../img/svg/icon_volume_mute.svg") no-repeat center / 32px;
	--modal-mute-btn-bg: #fff;
	--modal-mute-btn-bg-active: #DEEAFB;
	--modal-mute-btn-bg-pressed: #9BC5F5;	
	--modal-mute-btn-border: 2px solid #3D3D3D;	
	--modal-mute-btn-box-shadow: 0px -4px 3px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--modal-mute-btn-box-shadow-active: 0px 1px 2px 0px #00000033;	
  --modal-icon-alert: url("../img/svg/icon_alert.svg") no-repeat;

	--keyboard__input-value--bg: #FFFFFF;
	--keyboard__input-value--border: 2px solid #B0B0B0;
	--keyboard__input-value--color: #3D3D3D;
	--keyboard__input-value--bg-active: #F0F6FE;
	--keyboard__input-value--border-active: 6px solid #2B54CA;
  --keyboard-btn-color: #262626;
	--keyboard-btn-bg: #FFFFFF;
	--keyboard-btn-border: 2px solid #4F4F4F;
	--keyboard-btn-box-shadow: 0px -4px 3px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--keyboard-btn-bg-active: #B0B0B0;
	--keyboard-btn-box-shadow-active: 0px 2px 3px 0px #00000066;
  --keyboard-btn-type2-bg: #DEEAFB;
  --keyboard-btn-type2-box-shadow: 0px 2px 3px 0px #00000066, 0px -4px 3px 0px #00000040 inset;
  --keyboard-btn-type2-bg-active: #9BC5F5;
  --keyboard-btn-type2-box-shadow-active: 0px 2px 3px 0px #00000066;
	--keyboard-btn-delete-img: url("../img/svg/keyboard_delete.svg");
	--keyboard-btn-double-img: url("../img/svg/keyboard_double.svg");	
	--pw-help-color: #4F4F4F;
	--small-btn-color: #4F4F4F;
	--small-btn-border: 2px solid #3D3D3D;
	--small-btn-bg: #FFFFFF;
	--small-btn-box-shadow: 0px 2px 3px 0px #00000066;
	--small-btn-bg-active: #B0B0B0;

	--info-list-blt-sm: url("../img/svg/blt_list_sm.svg");

	--phone-keypad-border: 2px solid #4F4F4F;
	--phone-keypad-color: #262626;
	--phone-keypad-bg: #FFFFFF;
	--phone-keypad-box-shadow: 0px -4px 0px 0px #0000004D inset, 0px 2px 3px 0px #00000066;
	--phone-keypad-box-shadow-lower: 0px -4px 0px 0px #0000004D inset, 0px 2px 3px 0px #00000066;
	--phone-keypad-bg-active: #B0B0B0;
	--phone-keypad-box-shadow-active: 0px 2px 3px 0px #00000066;
	--phone-keypad-type2-bg: #DEEAFB;
	--phone-keypad-type2-box-shadow: 0px -4px 0px 0px #0000004D inset, 0px 2px 3px 0px #00000066;
	--phone-keypad-type2-bg-active: #9BC5F5;
	--phone-keypad-type2-box-shadow-active: 0px 2px 3px 0px #00000066;
	--phone-keypad-icon-del: url("../img/svg/icon_del.svg");
  --input-pw-box__input--color: #000000;
  --input-pw-box__input-text--border-bottom: 3px solid #3D3D3D;

  --color-bg: #F8F8F8;
  --color-text: #222;
	--pagination-btn-bg: #FFFFFF;
	--pagination-btn-color: #3D3D3D;
	--pagination-btn-border: 2px solid #3D3D3D;
	--pagination-btn-box-shadow: 0px -4px 0px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--pagination-btn-bg-active: #E7E7E7;
	--pagination-btn-box-shadow-active: 0px 2px 3px 0px #00000066;
	--pagination-btn-box-shadow-disabled: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--pagination-btn-color-disabled: #B0B0B0;
	--pagination-page-color: #4F4F4F;
	--pagination-page-accent-color: #2B54CA;
	--pagination-btn-bg-disabled: #FFFFFF;
	--pagination-btn-border-disabled: 2px solid #B0B0B0;
	--pagination-horizontal-icon-arrow-prev: url("../img/svg/icon-harrow-prev.svg");
	--pagination-horizontal-icon-arrow-next: url("../img/svg/icon-harrow-next.svg");
	--pagination-horizontal-icon-arrow-prev-disabled: url("../img/svg/icon-harrow-prev-disabled.svg"); 
	--pagination-horizontal-icon-arrow-next-disabled: url("../img/svg/icon-harrow-next-disabled.svg");
	--pagination-horizontal-icon-double-prev: url("../img/svg/icon-hdouble-prev.svg");
	--pagination-horizontal-icon-double-next: url("../img/svg/icon-hdouble-next.svg");
	--pagination-horizontal-icon-double-prev-disabled: url("../img/svg/icon-hdouble-prev-disabled.svg"); 
	--pagination-horizontal-icon-double-next-disabled: url("../img/svg/icon-hdouble-next-disabled.svg");

	--box-list-header-color: #3D3D3D;
	--box-list-header-bg: #E7E7E7;
	--box-list-row-color: #3D3D3D;
	--box-list-row-bg: #FFFFFF;
	--box-list-border: 3px solid #B0B0B0;

	--payment-method-border: 0px;
  --payment-method-color: #3D3D3D;	
	--payment-method-btn-border: 3px solid #3D3D3D;
	--payment-method-btn-bg: #FFFFFF;
	--payment-method-btn-box-shadow: 0px -6px 0px 0px #00000040 inset, 0px 2px 6px 0px #00000080;
	--payment-method-btn-bg-active: #B0B0B0;
	--payment-method-btn-box-shadow-active: 0px 2px 6px 0px #00000080;
	--payment-method-btn-border-disabled: 3px solid #B0B0B0;
	--payment-method-btn-box-shadow-disabled: 0px 0px 0px 0px #00000080;	
	--payment-method-color-disabled: #B0B0B0;
	--payment-box-bg: #FFFFFF;
	--payment-box-border: 1px solid #E7E7E7;
	--payment-box-color: #454545;
	--payment-row-label-color: #5D5D5D;
	--payment-row-value-color: #3D3D3D;
	--payment-row-value-minus-color: #D41515;	
	--payment-total-bg: #DEEAFB;
	--payment-total-label-color: #3D3D3D;
	--payment-total-value-color: #3D3D3D;
	--payment-guide-color: #3D3D3D; 
	--payment-guide-bg: #FFFFFF; 
	--payment-list-line-border-top: 2px solid #D1D1D1;
	--payment-detail-bg: #FFFFFF;
	--payment-detail-border: 2px solid #E7E7E7;
	--vertical-line-bg: #D1D1D1;

  --round-info-border: 3px solid #E7E7E7;
  --round-info-bg: #FFFFFF; 
  --round-info-color: #2B54CA; 
	--round-info-bg-active: #B0B0B0;

	--spinner-title--color: #262626;	
	--spinner-circle-bg: #ffffff;
	--spinner-wave-light: url("../img/ui/spinner_wave_light.png"); 
	--spinner-wave-dark: url("../img/ui/spinner_wave_dark.png");

	--service-btn-border: 3px solid #3D3D3D;
	--service-btn-color: #3D3D3D;
	--service-btn-box-shadow: 0px -3px 10px 0px #00000040 inset, 0px 4px 6px 0px #00000033;
	--service-btn-bg-active: #B0B0B0; 
	--service-btn-box-shadow-active: 0px 2px 6px 0px #00000080;
	--service-grid-color: #3D3D3D;
	--service-grid-bg-washing: #ffffff;
	--service-grid-bg-dryer: #ffffff; 
	--service-grid-bg-washing-active: #B0B0B0;
	--service-grid-bg-dryer-active: #B0B0B0; 

	--service-grid-icon-washing: url("../img/svg/icon_washing.svg");
	--service-grid-icon-shoes-washing: url("../img/svg/icon_shoes_washing.svg");
	--service-grid-icon-dryer: url("../img/svg/icon_dryer.svg");
	--service-grid-icon-shoes-dryer: url("../img/svg/icon_shoes_dryer.svg");

	--machine-btn-border: 3px solid #3D3D3D;
	--machine-btn-box-shadow: 0px -3px 10px 0px #00000040 inset, 0px 4px 6px 0px #00000033;	
	--machine-grid-bg-washing: #ffffff;
	--machine-grid-bg-dryer: #ffffff; 
	--machine-grid-bg-washing-active: #B0B0B0;
	--machine-grid-bg-dryer-active: #B0B0B0;
	--machine-grid-number-border: 2px solid #D1D1D1; 
	--machine-grid-number-washing: #2B54CA;
	--machine-grid-number-dryer: #2B54CA;
	--machine-grid-color: #262626;
	--machine-grid-small-color: #4F4F4F;

  --machine-grid-disabled-color:#b0b0b0;
  --machine-grid-disabled-border: 3px solid #b0b0b0;
  --machine-grid-disabled-bg: #ffffff url(""); 
	--machine-grid-disabled-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;	
	--machine-grid-disabled-line: #B0B0B0;

	--course-grid-border: 3px solid #3D3D3D;
	--course-grid-box-shadow:  0px -8px 0px 0px #0000004D inset, 0px 2px 3px 0px #00000066;
	--course-grid-bg: #FFFFFF;
	--course-grid-bg-active: #B0B0B0;
	--course-grid-box-shadow-active:  0px 0px 0px 0px #0000004D inset, 0px 0px 0px 0px #00000066;
	--course-grid-bg-disabled: #FFFFFF;
	--course-grid-border-disabled: 3px solid #B0B0B0;
	--course-grid-box-shadow-disabled: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;
	--course-grid-color-disabled: #B0B0B0;
	--course-grid-color: #262626;
	--course-grid-price-color: #2B54CA;
	--course-grid-desc-color: #4F4F4F;
	--course-grid-desc-botder-top: 2px solid #D1D1D1;
	--course-grid-title-bg: #DEEAFB;
	--course-grid-title-color: #3D3D3D;		
	--course-grid-title-accent: #2B54CA;
	--course-grid-title-dryer-bg: #E0F0FE;
	--course-grid-title-dryer-accent: #2B54CA;

	--guide-card-bg: #FFFFFF;
	--guide-card-border: 2px solid #FFFFFF;	
	--guide-badge-bg: #F0F6FE;
	--guide-badge-color: #2B54CA;
	--guide-badge-dryer-bg: #F0F8FF;
	--guide-badge-dryer-color: #2B54CA;	
	--guide-content-color: #3D3D3D;
	--guide-content-sub-color: #6F6F6F;
	--guide-btn-bg: #FFFFFF;	
	--guide-btn-color: #262626;
	--guide-btn-border: linear-gradient(180deg, #3368DD 0%, #2846A5 100%);
	--guide-btn-box-shadow: 0px 6px 15px 0px #00000080;  
	--guide-btn-bg-active: #E7E7E7;	
	--guide-btn-border-active: linear-gradient(180deg, #3368DD 0%, #2846A5 100%);
	--guide-btn-box-shadow-active: 0px 6px 15px 0px #00000033;
	--guide-btn-primary-color: #FFFFFF;
	--guide-btn-primary-box-shadow: 0px 6px 15px 0px #00000080;
	--guide-btn-primary-bg: linear-gradient(180deg, #3368DD 0%, #2846A5 100%);
	--guide-btn-primary-bg-active: #2846A5;
	--guide-btn-primary-box-shadow-active: 0px 4px 6px 0px #00000033;
	--guide-content-highlight-color: #2B54CA;
	--guide-content-highlight-border-bottom: 3px solid #2B54CA;	
	--guide-content-highlight-dryer-color: #0367B0;
	--guide-content-highlight-dryer-border-bottom: 3px solid #0367B0;	

	--dryer-time-card-bg: #FFFFFF;
	--dryer-adjust-btn-bg: #FFFFFF; 
	--dryer-adjust-btn-border: 2px solid #4F4F4F;
	--dryer-adjust-btn-box-shadow: 0px -4px 3px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--dryer-adjus-sub-color: #3D3D3D;
	--dryer-adjust-icon-opacity: 0.3;
	--dryer-adjust-icon-minus: url("../img/svg/icon_adjust_minus.svg") no-repeat center / 60px ;
	--dryer-adjust-icon-plus: url("../img/svg/icon_adjust_plus.svg") no-repeat center / 60px ;
	--dryer-adjust-btn-bg-active: #E7E7E7; 
	--dryer-adjust-btn-box-shadow-active: 0px 2px 3px 0px #00000066;
	--dryer-adjust-btn-border-disabled: 2px solid #B0B0B0;
	--dryer-adjust-btn-bg-disabled: #FFFFFF;
	--dryer-adjust-btn-box-shadow-disabled: 0px 0px 0px 0px #00000066; 
	--dryer-adjus-sub-color-disabled: #B0B0B0;
	--dryer-time-color: #0367B0;
	--dryer-price-color: #262626;

	--charge-step-color: #3D3D3D;	
	--charge-step-current-color: #2B54CA;
	--charge-step-current-color-lower: #FFFFFF;

	--amount-card-bg: #FFFFFF; 
	--amount-card-border: 3px solid #3D3D3D;
	--amount-card-box-shadow: 0px -3px 10px 0px #00000040 inset, 0px 4px 6px 0px #00000033;
	--amount-card-divider-bg: #D1D1D1;
	--amount-card-price-color: #2B54CA;
	--amount-card-info-color: #4F4F4F;
	--amount-card-info-accent-color: #2B54CA;
	--amount-card-bg-active: #E7E7E7;
	--amount-card-box-shadow-active: 0px 4px 6px 0px #00000033;

	--balance-info-label-color: #454545;
	--balance-info-value-color: #2B54CA;

	--receipt-title-color: #262626;
	--receipt-card-bg: #FFFFFF;
	--receipt-card-border: 3px solid #FFFFFF;	
	--receipt-datetime-color: #6F6F6F;
	--receipt-label-color: #5D5D5D;
	--receipt-value-color: #262626;
	--receipt-logo: url(none);
	--receipt-divider-border-top: 2px solid #3D3D3D;
	--receipt-divider-dash-border-top: 2px dashed #D1D1D1;

	--user-card-bg: #FFFFFF;
	--data-card-bg: #FFFFFF;
	--user-card-label-color: #5D5D5D;
	--user-card-value-color: #454545;
	--user-card-value-accent-color: #2B54CA;
	--data-card-date-color: #454545;
	--detail-table-border: 2px solid #D1D1D1;
	--detail-tabl-th-bg: #EAF3FA;

	--complete-img: url("../img/svg/img_complete.svg");
	--complete-title-color: #262626;
	--complete-desc-color: #3D3D3D;

  --scrollbar-corner-color: #000000;
  --scrollbar-track-color: #000000;
  --scrollbar-thumb-color: #888888;

  --zoom-control-bg: #000000;
  --zoom-control-border: 1px solid #FFFFFF;
  --zoom-control-box-shadow: 0px 4px 9.9px 0px #00000040;

  --arrow-button-up-img: url("../img/svg/arrow-button-up.svg") no-repeat center center ;
  --arrow-button-left-img: url("../img/svg/arrow-button-left.svg") no-repeat center center ;
  --arrow-button-right-img: url("../img/svg/arrow-button-right.svg") no-repeat center center ;
  --arrow-button-down-img: url("../img/svg/arrow-button-down.svg") no-repeat center center ;
  --zoom-control-close-bg: #000000; 
  --zoom-control-close-border: 3px solid #FFFFFF;
  --zoom-control-close-color: #FFFFFF;
  --zoom-control-close-box-shadow: 0px 4px 10px 0px #0000004D;
  --zoom-control-close-bg-active: #3D3D3D;
  --zoom-control-close-icon: url("../img/svg/zoom-control-close.svg");
  --zoom-bar-bg: #000000; 
  --zoom-bar-btn-bg : #FFFFFF; 
  --zoom-bar-btn-bg-active : #F6F6F6; 
  --arrow-button-bg: #FFFFFF;  
  --arrow-button-bg-active : #E7E7E7;	

} 

body.high-contrast {
	--body-bg: #000000;	
  --container-bg: #000000;
  --container-width: 1080px;
  --container-height: 1920px;

	--font-family-default: "Pretendard", sans-serif;
	--fc-title-color: #FFFFFF;
	--fc-base-color: #FFFFFF;
	--fc-sub-color:  #FFFFFF;
  --fc-blue-color: #F8DA29;
	--fc-green-color: #1AFF40; 
  --fc-red-color: #FFA0A0;
	--fc-white-color: #FFFFFF;
	--fc-accent-color: #F8DA29;
	--bg-white: #FFFFFF;
	--bg-accent: #FCE9D8;
	--bg-transparent: transparent;

  --header-bg: #000000;
	--header-bg--no_bg: #000000;

	--header-logo-img: url("../img/svg/logo_contrast.svg");
  --header-btn-home-img: url("../img/svg/icon_home_contrast.svg");
  --header-btn-play-img: url("../img/svg/icon_play_contrast.svg");
  --header-btn-help-img: url("../img/svg/icon_help_contrast.svg");
	--header-btn-call-bk-img: url("../img/svg/icon_call_bk_contrast.svg");
	--header-btn-bg: #000000;
	--header-btn-bg-active: #3D3D3D;
  --header-btn-border: 2px solid #FFFFFF;
	--header-btn-text: #FFFFFF;
	--header-btn-call-text: #F8DA29;
	--header-btn-call-bg: #262626;	
	--header-btn-call-bg-active: #3D3D3D;
	--header-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;
	--header-btn-box-shadow-active: 0px 0px 0px 0px #00000033;

	--btn-disabled-border: #3D3D3D;
	--btn-disabled-bg: #3D3D3D;
	--btn-disabled-color: #5D5D5D;
	--btn-disabled-box-shadow: 0px 0px 0px 0px #E7E7E7 inset;	

	--main-bg: #000000;
	--main-bg-white: #000000;
	--main-bg--no_bg: #000000;
	--main-location-bg: #262626 url("../img/svg/icon_marker_contrast.svg") no-repeat 30px 10px / 60px;
	--main-border-top: 2px solid #B0B0B0;
	--container-water-bg: #000000 none;
	--lower-container-water-bg: #000000 none;

	--main__title-color: #FFFFFF;
	--main__title-desc-color: #D1D1D1;
  --main__title--alert-icon: url("../img/svg/icon_alert_contrast.svg");
  --main__button--service-bg: #F8DA29;
	--main__button--service-bg-active: #C89406;
  --main__button--service-right-bg: #FBE949;
;	--main__button--service-right-bg-active: #F8DA29;	
	--main__button--service-box-shadow: 0px 0px 0px 0px #00000000 inset, 0px 0px 0px 0px #00000000;
	--main__button--service-text-color: #000000;
	--main__button--service-text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
	--main__lang-color: #FFFFFF;
  --main__button--service-member-img: url("../img/svg/icon_service_member_contrast.svg");
  --main__button--service-guest-img: url("../img/svg/icon_service_guest_contrast.svg");
  --main-service-signup-border: 0px solid #497BBD;
  --main-service-signup-box-shadow: 0px 6px 15px 0px #0000004D;
	--main-service-signup-bg: #FFFFFF;
	--main-service-signup-bg-active: #E7E7E7;
  --main-service-signup-box-shadow-active: 0px 0px 0px 0px #00000033;
	--main-info-desc: #FFFFFF;

  --main__button--service-in-img: url("../img/svg/icon_service_in_contrast.svg");
  --main__button--service-out-img: url("../img/svg/icon_service_out_contrast.svg");
  --main-service-available-border: 2px solid #3D3D3D;
	--main-service-available-bg: #262626;

  --control-bar-bg: #000000;
	--control-bar--no_bg: #000000;
  --control-bar--border-top: 1px solid #E7E7E7;
	--control-bar-sound-bg: #262626;	
  --control-bar-sound-button-border: 0px solid #FFFFFF;
  --control-bar-sound-button-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--control-bar-sound-button-bg: #FFFFFF;
  --control-bar-sound-button-box-shadow-active: 0px 0px 0px 0px #00000066;
	--control-bar-sound-button-bg-active: #E7E7E7;

	--accessibility-btn-bg: #FFFFFF;
  --accessibility-btn-border: 0px solid #3D3D3D;
  --accessibility-btn-color: #FFFFFF;
	--accessibility-btn-color-active: #000000;
  --control-bar__sound-icon--minus: url("../img/svg/icon_minus.svg");
  --control-bar__sound-icon--plus: url("../img/svg/icon_plus.svg");
	--control-bar__sound-icon--volume: url("../img/svg/icon_volume-contrast.svg");
	--control-bar__sound-level-color: #FFFFFF;

	--accessibility-high-contrast: url("../img/svg/accessibility-high-contrast-contrast.svg");
	--accessibility-high-contrast-active: url("../img/svg/accessibility-high-contrast-contrast-active.svg");
	--accessibility-lower-screen: url("../img/svg/accessibility-lower-screen-contrast.svg");
	--accessibility-lower-screen-active: url("../img/svg/accessibility-lower-screen-contrast-active.svg");
	--accessibility-full-screen: url("../img/svg/accessibility-full-screen-contrast.svg");
	--accessibility-full-screen-active: url("../img/svg/accessibility-full-screen-contrast-active.svg");

	--info-card-bg: #000000;
  --info-card-border: 2px solid #5D5D5D;
  --info-card-title-bg: #262626;
  --info-card-title-color: #FFFFFF;
  --info-card-label-color: #D1D1D1;	
  --info-card-value-color: #FFFFFF;	

  --info-box--bg: #000000;
  --info-box--border: 3px solid #B0B0B0;
	--info-box--color: #FFFFFF;
  --info-list-text-color: #E7E7E7;
	--info-box--header-color: #FFFFFF;
	--info-list-blt: url("../img/svg/blt_list_contrast.svg");
	--info-header--icon: url("../img/svg/icon_info_contrast.svg"); 
	--info-header--divider-line: #E7E7E7;
	--info-box-title--bg: #480707;
	--info-box-title--color: #FFF1F1;   

	--main-btn-call-bg: #FFFFFF;
	--main-btn-call-box-shadow: 0px 0px 0px 0px #00195F inset, 0px 0px 0px 0px #00000033;
	--main-btn-call-color:#000000;
	--main-btn-call-bg-active: #E7E7E7;	
	--main-btn-call-box-shadow-active: 0px 0px 0px 0px #00195F inset, 0px 0px 0px 0px #00000033;
  --main-btn-call-img: url("../img/svg/icon_call_contrast.svg"); 

	--main-btn-cancel-img: url("../img/svg/icon_cancel_contrast.svg");		
	--main-btn-prev-img: url("../img/svg/icon_prev_contrast.svg");
  --main-btn-next-img: url("../img/svg/icon_next_contrast.svg");
  --main-btn-next-img-disabled: url("../img/svg/icon_next_disabled-contrast.svg");
  --main-btn-primary-color: #000000;
  --main-btn-primary-bg-active: #C89406;
  --main-btn-primary-box-shadow-active: 0px 0px 0px 0px #B71C1C inset;
  --main-btn-primary-bg: #F8DA29;
  --main-btn-primary-box-shadow: 0px 0px 0px 0px #B71C1C inset;

  --main-btn-secondary-bg: #000000;
  --main-btn-secondary-color: #FFFFFF;
  --main-btn-secondary-box-shadow: 0px 0px 0px 0px #00000040 inset;
  --main-btn-secondary-border: 3px solid #FFFFFF;
  --main-btn-secondary-bg-active: #3D3D3D;
  --main-btn-secondary-box-shadow-active: 0px 0px 0px 0px #00000040 inset;
	--main-btn-dark-bg: #FFFFFF;
	--main-btn-dark-color: #000000;
  --main-btn-dark-box-shadow: 0px 0px 0px 0px #3D3D3D inset;
	--main-btn-dark-bg-active: #E7E7E7;	
  --main-btn-dark-box-shadow-active: 0px 0px 0px 0px #3D3D3D inset;	

	--normal-button-border: 0px solid #4F4F4F;
	--normal-button-bg: #FFFFFF;
	--normal-button-color: #000000; 
	--normal-button-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--normal-button-bg-active: #E7E7E7;
	--normal-button-box-shadow-active: 0px 2px 3px 0px #00000066;	

	--progress-steps-bg: #000000;
	--progress-step-line: #B0B0B0;
	--progress-step-line-current: #F8DA29;
	--progress-step-text-default: #D1D1D1;
	--progress-step-text-current: #FFFFFF;
	--progress-step-text-completed: #FFFFFF;
	--progress-step-index-border: 2px solid #000000;
	--progress-step-index-span-border: 2px solid #D1D1D1;
	--progress-step-border-current: #F8DA29;
	--progress-step-bg-current: #F8DA29;
	--progress-step-color-current: #000000;
	--progress-step-border-completed: #F8DA29;
	--progress-step-bg-completed: #F8DA29;
	--progress-step-img-completed: url("../img/svg/icon_check_contrast.svg");
  --progress-step-index-current-border: 2px solid #F8DA29;
  --progress-step-index-current-bg: #3D3D3D;

	--lower-screen-progress-step-line-current: #FFFFFF;
	--lower-screen-progress-step-text: #D1D1D1;
	--lower-screen-progress-step-text-current: #FFFFFF;
	--lower-screen-progress-step-text-completed: #FFFFFF;
	--lower-screen-progress-step-index-border: 2px solid transparent;
	--lower-screen-progress-step-border-current: #FFFFFF;
	--lower-screen-progress-step-bg-current: #FFFFFF;
	--lower-screen-progress-step-color-current: #000000;
	--lower-screen-progress-step-index-current-border:2px solid #FFFFFF;
	--lower-screen-progress-step-index-current-bg: transparent;
	--lower-screen-progress-step-index-span-border: 2px solid #D1D1D1;
	--lower-screen-progress-step-img-completed: url("../img/svg/icon_check_bk.svg");
	--lower-screen-progress-step-border-completed: #FFFFFF; 
	--lower-screen-progress-step-bg-completed: #FFFFFF;

	--dry-time-title-color: #D1D1D1;
	--dry-time-panel-border: 2px solid #FFFFFF;
	--dry-time-panel-bg: #000000;
	--dry-time-price-color: #FFFFFF;
  --dry-time-btn-bg: #FFFFFF;
  --dry-time-btn-border: 2px solid #000000;
  --dry-time-btn-color: #000000;
  --dry-time-btn-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
  --dry-time-btn-bg-active: #B0B0B0;
  --dry-time-btn-box-shadow-active: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
 	--dry-time-btn-bg-disabled: #000000;	
 	--dry-time-btn-border-disabled: 2px solid #5D5D5D;
	--dry-time-btn-color-disabled: #5D5D5D;
	--dry-time-btn-box-shadow-disabled:  0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--dry-time-icon-color: #000000;
	--dry-time-icon-color-disabled: #5D5D5D;
	--dry-time-guide-color: #FFFFFF;

	--product-card-bg: #FFFFFF;
	--product-card-border: 0px solid #3D3D3D;
	--product-card-box-shadow: 0px 0px 0px 0px #0000004D inset, 0px 0px 0px 0px #00000066;
	--product-card-bg-active: #B0B0B0;
	--product-card-box-shadow-active: 0px 0px 03px 0px #00000066;	
	--product-card-color: #000000;
	--product-card-price-color: #000000;
	--product-card-color-disabled: #5D5D5D;
	--product-card-bg-disabled: #000000;	
	--product-card-border-disabled: 3px solid #5D5D5D;

	--privacy-policy-color: #FFFFFF;

	--modal-backdrop: rgba(0, 0, 0, 0.6);   
	--modal-border: 2px solid #B0B0B0;	  
	--modal-bg: #000000;
  --modal-title-color: #FFFFFF;
  --modal-btn-bg: #F8DA29;
  --modal-btn-color: #000000;
  --modal-btn-bg-active: #E7BE0B;
  --modal-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000066;  
  --modal-button-primary--color: #000000;
  --modal-button-primary--bg: #F8DA29;
  --modal-button-primary--box-shadow: 0px 0px 0px 0px #243B7C inset;
  --modal-button-primary--bg-active: #E7BE0B;
  --modal-button-primary--box-shadow-active: 0px 0px 0px 0px #2B54CA inset;
  --modal-button-secondary--bg: #000000;
  --modal-button-secondary--color: #FFFFFF;
  --modal-button-secondary--border: 3px solid #FFFFFF;
  --modal-button-secondary--box-shadow: 0px 0px 0px 0px #26262640 inset;
  --modal-button-secondary--bg-active: #3D3D3D;
  --modal-button-secondary--box-shadow-active: 0px 0px 0px 0px #26262640 inset;
  --modal-button-dark--color: #000000;
  --modal-button-dark--bg: #FFFFFF;
  --modal-button-dark--border: 0px solid #4F4F4F;
  --modal-button-dark--box-shadow: 0px 0px 0px 0px #3D3D3D inset;
  --modal-button-dark--bg-active: #E7E7E7;
  --modal-button-dark--box-shadow-active: 0px 0px 0px 0px #26262640 inset;		
  --modal-timer-icon: url("../img/svg/icon_timer_contrast.svg") no-repeat;
  --modal-timer-icon-red: url("../img/svg/icon_timer_red_contrast.svg") no-repeat;	
  --modal-timer-color: #FFFFFF;
  --modal-timer-countdown-color: #FBE949;
	--modal-amount-label-color: #D1D1D1;
	--modal-amount-value-color: #F8DA29;
	--modal-confirm-color: #FFFFFF;
  --modal-icon-alert: url("../img/svg/icon_alert_contrast.svg") no-repeat;	

	--keyboard__input-value--bg: #000000;
	--keyboard__input-value--border: 2px solid #B0B0B0;
	--keyboard__input-value--color: #FFFFFF;
	--keyboard__input-value--bg-active: #262626;
	--keyboard__input-value--border-active: 6px solid #F8DA29;	
  --keyboard-btn-color: #262626;
	--keyboard-btn-bg: #FFFFFF;
	--keyboard-btn-border: 0px solid #4F4F4F;
	--keyboard-btn-box-shadow: 0px -0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--keyboard-btn-bg-active: #E7E7E7;
	--keyboard-btn-box-shadow-active: 0px 0px 0px 0px #00000066;
  --keyboard-btn-type2-bg: #FDF58B;
  --keyboard-btn-type2-box-shadow: 0px 0px 0px 0px #00000066, 0px 0px 0px 0px #00000040 inset;
  --keyboard-btn-type2-bg-active: #FBE949;
  --keyboard-btn-type2-box-shadow-active: 0px 0px 0px 0px #00000066;
	--keyboard-btn-delete-img: url("../img/svg/keyboard_delete_contrast.svg");
	--keyboard-btn-double-img: url("../img/svg/keyboard_double_contrast.svg");	
	--pw-help-color: #D1D1D1;
	--small-btn-color: #4F4F4F;
	--small-btn-border: 2px solid #3D3D3D;
	--small-btn-bg: #FFFFFF;
	--small-btn-box-shadow: 0px 2px 3px 0px #00000066;
	--small-btn-bg-active: #B0B0B0;

	--info-list-blt-sm: url("../img/svg/blt_list_sm_contrast.svg");

	--phone-keypad-border: 2px solid #4F4F4F;
	--phone-keypad-color: #262626;
	--phone-keypad-bg: #FFFFFF;
	--phone-keypad-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--phone-keypad-box-shadow-lower: 0px 0px 0px 0px #0000004D inset, 0px 0px 0px 0px #00000066;
	--phone-keypad-bg-active: #E7E7E7;
	--phone-keypad-box-shadow-active: 0px 0px 0px 0px #00000066;
	--phone-keypad-type2-bg: #FDF58B;
	--phone-keypad-type2-box-shadow: 0px 0px 0px 0px #00000066, 0px 0px 0px 0px #00000040 inset;
	--phone-keypad-type2-bg-active: #FBE949;
	--phone-keypad-type2-box-shadow-active: 0px 0px 0px 0px #00000066;
	--phone-keypad-icon-del: url("../img/svg/icon_del_contrast.svg");
  --input-pw-box__input--color: #FFFFFF;
  --input-pw-box__input-text--border-bottom: 3px solid #FFFFFF;

	--color-bg: #F8F8F8;
  --color-text: #222;
	--pagination-btn-bg: #FFFFFF;
	--pagination-btn-border: 2px solid #000000;
	--pagination-btn-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--pagination-btn-bg-active: #E7E7E7;
	--pagination-btn-box-shadow-active: 0px 0px 0px 0px #00000066;
	--pagination-page-color: #FFFFFF;
	--pagination-page-accent-color: #F8DA29;
	--pagination-btn-bg-disabled: #000000;
	--pagination-btn-border-disabled: 2px solid #5D5D5D;	
	--pagination-horizontal-icon-arrow-prev: url("../img/svg/icon-harrow-prev_contrast.svg");
	--pagination-horizontal-icon-arrow-next: url("../img/svg/icon-harrow-next_contrast.svg");
	--pagination-horizontal-icon-arrow-prev-disabled: url("../img/svg/icon-harrow-prev-disabled_contrast.svg"); 
	--pagination-horizontal-icon-arrow-next-disabled: url("../img/svg/icon-harrow-next-disabled_contrast.svg");
	--pagination-horizontal-icon-double-prev: url("../img/svg/icon-hdouble-prev_contrast.svg");
	--pagination-horizontal-icon-double-next: url("../img/svg/icon-hdouble-next_contrast.svg");
	--pagination-horizontal-icon-double-prev-disabled: url("../img/svg/icon-hdouble-prev-disabled_contrast.svg"); 
	--pagination-horizontal-icon-double-next-disabled: url("../img/svg/icon-hdouble-next-disabled_contrast.svg");

	--box-list-header-color: #FFFFFF;
	--box-list-header-bg: #3D3D3D;
	--box-list-row-color: #FFFFFF;
	--box-list-row-bg: #000000;
	--box-list-border: 3px solid #B0B0B0;

	--payment-method-border: 0px;
  --payment-method-color: #000000;
	--payment-method-btn-border: 3px solid #3D3D3D;
	--payment-method-btn-bg: #FFFFFF;
	--payment-method-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000080;
	--payment-method-btn-bg-active: #E7E7E7;
	--payment-method-btn-box-shadow-active: 0px 0px 0px 0px #00000080;
	--payment-method-btn-color-disabled: #5D5D5D;		
	--payment-method-btn-bg-disabled: #000000;	
	--payment-method-btn-border-disabled: 3px solid #5D5D5D;
	--payment-method-btn-box-shadow-disabled: 0px 0px 0px 0px #00000080;
	--payment-box-bg: #000000;
	--payment-box-border: 2px solid #5D5D5D;
	--payment-box-color: #FFFFFF;
	--payment-row-label-color: #E7E7E7;
	--payment-row-value-color: #FFFFFF;
	--payment-row-value-minus-color: #FFA0A0;	
	--payment-total-bg: #262626;
	--payment-total-label-color: #FFFFFF;
	--payment-total-value-color: #FFFFFF;
	--payment-guide-color: #FFFFFF;
	--payment-guide-bg: #262626;
	--payment-list-line-border-top: 2px solid #5D5D5D;
	--payment-detail-bg: #000000;
	--payment-detail-border: 2px solid #5D5D5D;

  --round-info-border: 3px solid #5D5D5D;
  --round-info-bg: #000000; 
  --round-info-color: #F8DA29; 
	--round-info-bg-active: #B0B0B0;

	--spinner-title--color: #ffffff;	
	--spinner-circle-bg: #000000;
	--spinner-wave-light: url("../img/ui/spinner_wave_light_contrast.png"); 
	--spinner-wave-dark: url("../img/ui/spinner_wave_dark_contrast.png");

  --scrollbar-corner-color: #000000;
  --scrollbar-track-color: #000000;
  --scrollbar-thumb-color: #888888;

	--service-btn-border: 0px solid #3D3D3D;
	--service-btn-color: #000000;	
	--service-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000080;
	--service-btn-bg-active: #eeeeee; 
	--service-btn-box-shadow-active: 0px 0px 0px 0px #00000080;
	--service-grid-color: #000000;	
	--service-grid-bg-washing: #ffffff none;
	--service-grid-bg-dryer: #ffffff none; 
	--service-grid-bg-washing-active: #eeeeee none;
	--service-grid-bg-dryer-active: #eeeeee none; 

	--service-grid-icon-washing: url("../img/svg/icon_washing_contrast.svg");
	--service-grid-icon-shoes-washing: url("../img/svg/icon_shoes_washing_contrast.svg");
	--service-grid-icon-dryer: url("../img/svg/icon_dryer_contrast.svg");
	--service-grid-icon-shoes-dryer: url("../img/svg/icon_shoes_dryer_contrast.svg");	
	--service-grid-icon-washing-active: url("../img/svg/icon_washing_contrast_active.svg");
	--service-grid-icon-shoes-washing-active: url("../img/svg/icon_shoes_washing_contrast_active.svg");
	--service-grid-icon-dryer-active: url("../img/svg/icon_dryer_contrast_active.svg");
	--service-grid-icon-shoes-dryer-active: url("../img/svg/icon_shoes_dryer_contrast_active.svg");	

	--machine-btn-border: 3px solid #3D3D3D;
	--machine-btn-box-shadow: 0px -3px 10px 0px #00000040 inset, 0px 4px 6px 0px #00000033;	
	--machine-grid-bg-washing: #ffffff none;
	--machine-grid-bg-dryer: #ffffff none; 
	--machine-grid-bg-washing-active: #eeeeee none;
	--machine-grid-bg-dryer-active: #eeeeee none;
	--machine-grid-number-border: 2px solid #5d5d5d; 
	--machine-grid-number-washing: #000000;
	--machine-grid-number-dryer: #000000;
	--machine-grid-color: #262626;
	--machine-grid-small-color: #4F4F4F;	

  --machine-grid-disabled-color:#5d5d5d;
  --machine-grid-disabled-border: 3px solid #5d5d5d;
  --machine-grid-disabled-bg: #000000 none; 
	--machine-grid-disabled-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;	
	--machine-grid-disabled-line: #5D5D5D;

	--course-grid-border: 3px solid #ffffff;
	--course-grid-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;
	--course-grid-bg: #FFFFFF;
	--course-grid-bg-active: #E7E7E7;
	--course-grid-bg-disabled: #000000;
	--course-grid-border-disabled: 3px solid #5D5D5D;
	--course-grid-box-shadow-disabled: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;
	--course-grid-color-disabled: #5D5D5D;
	--course-grid-color: #000000;
	--course-grid-price-color: #000000;
	--course-grid-desc-color: #000000;
	--course-grid-desc-botder-top: 2px solid #D1D1D1;
	--course-grid-title-bg: #262626;
	--course-grid-title-color: #FFFFFF;	
	--course-grid-title-accent: #F8DA29;
	--course-grid-title-dryer-bg: #262626;
	--course-grid-title-dryer-accent: #F8DA29;

	--guide-card-bg: #000000;
	--guide-card-border: 2px solid #B0B0B0;	
	--guide-badge-bg: #3D3D3D;
	--guide-badge-color: #F8DA29;
	--guide-badge-dryer-bg: #3D3D3D;
	--guide-badge-dryer-color: #F8DA29;
	--guide-content-color: #FFFFFF;
	--guide-content-sub-color: #D1D1D1;
	--guide-btn-bg: #000000;	
	--guide-btn-color: #FFFFFF;
	--guide-btn-border: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
	--guide-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;  
	--guide-btn-bg-active: #3D3D3D;
	--guide-btn-border-active: linear-gradient(180deg, #3368DD 0%, #2846A5 100%);	
	--guide-btn-box-shadow-active: 0px 0px 0px 0px #00000033;
	--guide-btn-primary-color: #000000;
	--guide-btn-primary-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;
	--guide-btn-primary-bg: linear-gradient(147.39deg, #F8DA29 5.31%, #F8DA29 96.77%);
	--guide-btn-primary-bg-active: #C89406;
	--guide-btn-primary-box-shadow-active: 0px 0px 0px 0px #00000033;
	--guide-content-highlight-color: #F8DA29;
	--guide-content-highlight-border-bottom: 3px solid #F8DA29;	
	--guide-content-highlight-dryer-color: #F8DA29;
	--guide-content-highlight-dryer-border-bottom: 3px solid #F8DA29;	

	--dryer-time-card-bg: #262626;
	--dryer-adjust-btn-bg: #FFFFFF; 
	--dryer-adjust-btn-border: 2px solid #4F4F4F;
	--dryer-adjust-btn-box-shadow: 0px -4px 3px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--dryer-adjus-sub-color: #000000;
	--dryer-adjus-sub-color-disabled: #5D5D5D;
	--dryer-adjust-icon-opacity: 1;	
	--dryer-adjust-icon-minus: url("../img/svg/icon_adjust_minus_contrast.svg") no-repeat center / 60px ;
	--dryer-adjust-icon-plus: url("../img/svg/icon_adjust_plus_contrast.svg") no-repeat center / 60px ;
	--dryer-adjust-btn-bg-active: #E7E7E7; 
	--dryer-adjust-btn-box-shadow-active: 0px 2px 3px 0px #00000066;
	--dryer-adjust-btn-bg-disabled: #000000; 	
	--dryer-adjust-btn-border-disabled: 2px solid #5D5D5D;	
	--dryer-adjust-btn-box-shadow-disabled: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--dryer-time-color: #F8DA29;
	--dryer-price-color: #FFFFFF; 

	--charge-step-color: #FFFFFF; 	
	--charge-step-current-color: #F8DA29;

	--amount-card-bg: #FFFFFF; 
	--amount-card-border: 0px solid #FFFFFF;
	--amount-card-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;
	--amount-card-divider-bg: #D1D1D1;
	--amount-card-price-color: #000000;
	--amount-card-info-color: #000000;
	--amount-card-info-accent-color: #000000;
	--amount-card-bg-active: #D1D1D1;
	--amount-card-box-shadow-active: 0px 0px 0px 0px #00000033;	

	--balance-info-label-color: #FFFFFF; 
	--balance-info-value-color: #F8DA29;

	--receipt-title-color: #FFFFFF;
	--receipt-card-bg: #262626;
	--receipt-card-border: 3px solid #B0B0B0;	
	--receipt-datetime-color: #FFFFFF;
	--receipt-label-color: #E7E7E7;
	--receipt-value-color: #FFFFFF;
	--receipt-logo: url(none);
	--receipt-divider-border-top: 2px solid #3D3D3D;
	--receipt-divider-dash-border-top: 2px dashed #D1D1D1;

	--user-card-bg: #262626;	
	--data-card-bg: #FFFFFF;
	--user-card-label-color: #E7E7E7;
	--user-card-value-color: #FFFFFF;
	--user-card-value-accent-color: #F8DA29;
	--data-card-date-color: #FFFFFF;
	--detail-table-border: 2px solid #5D5D5D;
	--detail-tabl-th-bg: #262626;
	--detail-table-td-bg: #000000;

	--company-btn-border: 3px  solid #3D3D3D;
	--company-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000080;
	--company-btn-bg-active: #E7E7E7;
	--company-btn-box-shadow-active: 0px 0px 0px 0px #00000080;

	--complete-img: url("../img/svg/img_complete_contrast.svg");  
	--complete-title-color: #FFFFFF;
	--complete-desc-color: #FFFFFF;

}