.button {
  font-family: var(--font-family-default);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
  background: none;
  text-decoration: none;  
  color: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* Header Button */
.header__button {
  border: var(--header-btn-border);
  background: var(--header-btn-bg);
  color: var(--header-btn-text);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0px;
  width: 170px;
  height: 50px;
  box-shadow: var(--header-btn-box-shadow); 
}
.header__button:active {
  background: var(--header-btn-bg-active);
	box-shadow: var(--header-btn-box-shadow-active); 
}
.header__button.button-md {
  width: 80px;  
}
.header__button--icon {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header__button__icon--home,
.header__button__icon--sound,
.header__button__icon--play,
.header__button__icon--help,
.header__button__icon--call,
.header__button--icon-home {
  background-image: var(--header-btn-home-img);
}
.header__button--icon-sound {
  background-image: var(--header-btn-sound-img);
}
.header__button--icon-play {
  background-image: var(--header-btn-play-img);
}
.header__button--icon-help {
  background-image: var(--header-btn-help-img);
}
.header__button--icon-call {
  background-image: var(--header-btn-call-img);
}
.header__button .button__title {
  width: 100px;
  height: 32px;
  text-align: center;
  margin-left: 8px;
  display: block;
	color: var(--header-btn-text);
}

.header__button--call {
	background: var(--header-btn-call-bg);
}
.header__button--call:active {
	background: var(--header-btn-call-bg-active);
}
.header__button--call .button__title {
	color: var(--header-btn-call-text);
}

/* Main Service Buttons */
.main__button--service {
  height: 220px;
  border-radius: 20px;
  padding: 30px 30px 30px 40px;
  background: var(--main__button--service-bg);
  color: var(--main__button--service-text-color);
  box-shadow: var(--main__button--service-box-shadow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.main__button--service:active {
  background: var(--main__button--service-bg-active);
}
.main__button--service .service__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -2px;
  text-align: left;
  text-shadow: var(--main__button--service-text-shadow);
}
.main__button--service .service__title-desc {  
  font-size: 36px;
  margin-top: 20px;
  letter-spacing: -1px;
  text-align: center;
  text-shadow: var(--main__button--service-text-shadow);
}
.main__button--service-sub {
  width: 100%;
  height: 130px;
  border-radius: 20px;
  padding: 10px 40px;
  background: var(--main__button--service-sub-bg);
  color: var(--main__button--service-text-color);
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--main__button--service-box-shadow);
}
.main__button--service-sub:active {
  background: var(--main__button--service-sub-bg-active);
}
/* Main Bottom Buttons */
.main__button {
	width: 220px;
	height: 70px;
	border-radius: 100px;
  padding: 10px 20px;
  line-height: 1;
  letter-spacing: -1px;
  box-shadow: 0px -6px 0px 0px #00000040 inset;
} 
.main__button__icon--close {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;    
}
.main__button__icon--input, 
.main__button__icon--prev,
.main__button__icon--next {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  display: flex;
  align-items: center;
  justify-content: center;   
}
.main__button__icon--prev {
  background-image: var(--main-btn-prev-img);
}
.main__button__icon--next {
  background-image: var(--main-btn-next-img);
}
.main__button__icon--input {
  background-image: var(--main-btn-input-img);
}
.main__button__icon--close {
  background-image: var(--main-btn-close-img);
}
.help__button__icon--magnify {
  background-image: var(--main-btn-magnify-img);
}
.main-button-disabled .main__button__icon--next {
  background-image: var(--main-btn-next-img-disabled);
}
.help__button {
	width: 240px;
	height: 70px;
	border-radius: 20px;
  padding: 10pxx;
  box-shadow: 0px -6px 0px 0px #00000040 inset;
  background: var(--help-btn-bg);
  box-shadow: var(--help-btn-box-shadow);
  color: var(--fc-white-color); 
} 
.help__button:active {
  background: var(--help-btn-bg-active);
  box-shadow: var(--help-btn-box-shadow-active);
}
.help__button .button__title {
  display: block;
  text-align: center;  
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;
}
.main__button .button__title {
  display: block;
  width: 148px;
  height: 48px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.4;
  letter-spacing: 0px;
  text-align: center;
}
.main-button-primary {
  background: var(--main-btn-primary-bg);
  box-shadow: var(--main-btn-primary-box-shadow);
  color: var(--main-btn-primary-color);
}
.main-button-primary:active {
  background: var(--main-btn-primary-bg-active);
  box-shadow: var(--main-btn-primary-box-shadow-active);
}
.main-button-secondary {
  background: var(--main-btn-secondary-bg);
  box-shadow: var(--main-btn-secondary-box-shadow);
  color: var(--main-btn-secondary-color);
  border: var(--main-btn-secondary-border);
}
.main-button-secondary:active {
  background: var(--main-btn-secondary-bg-active);
  box-shadow: var(--main-btn-secondary-box-shadow-active);
}
.main-button-disabled {
  background: var(--main-btn-disabled-bg);
  box-shadow: var(--main-btn-disabled-box-shadow);  
  color: var(--main-btn-disabled-color);
	cursor: not-allowed;  
}
.main-button-disabled:active {
  background: var(--main-btn-disabled-bg);
  box-shadow: var(--main-btn-disabled-box-shadow);  
  color: var(--main-btn-disabled-color);
}
/* Control bar */
.accessibility__button {
  background: var(--accessibility-btn-bg);
  color: var(--accessibility-btn-color);
  border-radius: 10px;
  padding: 22px 14px 22px 66px;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -2px;
  width: 240px;
  height: 80px;
  box-shadow: 0px -3px 0px 0px #00000040 inset, 0px 1px 2px 0px #00000033;
	transition: color 0s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.accessibility__button:active {
  color: var(--accessibility-btn-color-active);
}
.accessibility-high-contrast {
  background: var(--accessibility-high-contrast);
}
.accessibility-high-contrast:active {
  background: var(--accessibility-high-contrast-active);
}
.accessibility-lower-screen {
  background: var(--accessibility-lower-screen);
}
.accessibility-lower-screen:active {
  background: var(--accessibility-lower-screen-active);
}
.accessibility-full-screen {
  background: var(--accessibility-full-screen);
}
.accessibility-full-screen:active {
  background: var(--accessibility-full-screen-active);
}
.accessibility__button img {
	width: var(--header-btn-icon-size);
	height: var(--header-btn-icon-size);
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.accessibility__button .button__title {
  width: 160px;
  height: 36px;
  text-align: center;
  display: block;
}
.post-service-grid__button {
  font-family: var(--font-family-default);
	position:relative;
	width: 300px;
	height: 200px;
	padding: 10px;
  background: var(--post-service-bg);
  border: var(--post-service-border);
	border-radius: 20px;
  box-shadow: var(--post-service-box-shadow);
  color: var(--post-service-color);
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;      
  text-align: center;
  cursor: pointer;
}
.post-service-grid__button:active {
  background: var(--post-service-bg-active);
  box-shadow: var(--post-service-box-shadow-active);
}
.post-service-grid__button-text {
	font-weight: 700;
	font-size: 48px;
  line-height: 1.4;
	letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-service-grid__button-extra {
	position:absolute;
	bottom:28px;
  color: var(--post-service-extra-color);
  margin-top: 14px;
	font-weight: 500;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -1px;
	text-align: center;
	vertical-align: middle;
}

.input-pw-keyboard__item {
  width: 90px;
  height: 80px;
  border-radius: 10px;
  border-width: 2px;
  background: var(--input-pw-keyboard__item--bg);
  border: var(--input-pw-keyboard__item--border);
  box-shadow: var(--input-pw-keyboard__item--box-shadow);
  font-family: var(--font-family-default);
  color: var(--input-pw-keyboard__item--color);
  font-weight: 500;
  font-size: 44px;
  line-height: 120%;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.input-pw-keyboard__item.large {
	grid-column: 1 / span 2;
  width: 190px;
  box-shadow: var(--input-pw-keyboard__item-large--box-shadow);

}
.input-pw-keyboard__item.width-text {
  background: var(--input-pw-keyboard__item-width-text--bg);
  border: var(--input-pw-keyboard__item-width-text--border);
  color: var(--input-pw-keyboard__item-width-text--color);
  font-family: var(--font-family-default);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.1;
  text-align: center;
  vertical-align: middle;
}
.input-pw-keyboard__item-back-btn img {
  width: 32px;
}
.keyboard__button {
  font-family: var(--font-family-default);
  width: 60px;
  height: 54px;
  border-radius: 10px;
  border-width: 2px;
  background: var(--keyboard-btn-bg);
  border: var(--keyboard-btn-border);
  box-shadow: var(--keyboard-btn-box-shadow);
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  color: var(--keyboard-btn-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.keyboard__button:active {
  background: var(--keyboard-btn-bg-active);
  box-shadow: var(--keyboard-btn-box-shadow-active);
}
.keyboard__button.type2 {
  font-size: 28px;
  font-weight: 500;  
  background: var(--keyboard-btn-type2-bg);
  box-shadow: var(--keyboard-btn-type2-box-shadow);
}
.keyboard__button.type2:active {
  background: var(--keyboard-btn-type2-bg-active);
  box-shadow: var(--keyboard-btn-type2-box-shadow-active);
}
.keyboard__button__icon--delete,
.keyboard__button__icon--double {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.keyboard__button__icon--delete {
  background-image: var(--keyboard-btn-delete-img);
  margin-right:7px;
}
.keyboard__button__icon--double {
  background-image: var(--keyboard-btn-double-img);
  margin-right:7px;
}

.phone-keypad__button {
  height: 80px;
  border-radius: 10px;
  font-family: var(--font-family-default);
  background: var(--phone-keypad-bg);
  border: var(--phone-keypad-border);
  color: var(--phone-keypad-color);
  box-shadow: var(--phone-keypad-box-shadow);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
}
.phone-keypad__button:active {
  background: var(--phone-keypad-bg-active);
  box-shadow: var(--phone-keypad-box-shadow-active);
}
.phone-keypad__button.type2 {
  background: var(--phone-keypad-type2-bg);
	box-shadow: var(--phone-keypad-box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 28px;
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 0px;
}
.phone-keypad__button.type2:active {
  background: var(--phone-keypad-type2-bg-active);
	box-shadow: var(--phone-keypad-box-shadow-active);
}
.pagination__button {
  width: 90px;
  height: 80px;
  border-radius: 10px;
  border: var(--pagination-btn-border);
  background: var(--pagination-btn-bg);
  cursor: pointer;
  line-height: 1;
	box-shadow: var(--pagination-btn-box-shadow); 
}
.pagination__button:active {
  background: var(--pagination-btn-bg-active);
	box-shadow: var(--pagination-btn-box-shadow-active); 
}
.pagination__button:disabled {
	cursor: not-allowed;
	transform: none;
  background: var(--pagination-btn-bg);
  border: var(--pagination-btn-border-disabled);
}
.pagination__button:disabled img {
	opacity: 0.3;
}
.pagination__button:disabled:active {
  background: var(--pagination-btn-bg);
	box-shadow: var(--pagination-btn-box-shadow); 
}
.address-info-box__edit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;  
  top: 30px;
  right: 30px;
  width: 160px;
  height: 60px;
  border-radius: 10px;
  border: var(--address-info-box-edit-border);
  background: var(--address-info-box-edit-bg);
  font-size: 28px;
  font-weight: 500;
	line-height: 1.4;
	letter-spacing: -1px;
  color: var(--fc-base-color);
  box-shadow: var(--address-info-box-edit-box-shadow); 
  cursor: pointer;
}
.address-info-box__edit:active {
  background: var(--address-info-box-edit-bg-active);
  box-shadow: var(--address-info-box-edit-box-shadow-active); 
}
.payment-method__button {
	width: 300px;
	height: 200px;
	border-radius: 20px;
	padding: 15px 10px 25px 10px;
  font-family: var(--font-family-default);
  background: var(--payment-method-btn-bg);
  border: var(--payment-method-btn-border);
  box-shadow: var(--payment-method-btn-box-shadow); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  cursor: pointer;
}
.payment-method__button:active {
  background: var(--payment-method-btn-bg-active);
  box-shadow: var(--payment-method-btn-box-shadow-active); 
}
.continent-grid__item {
  font-family: var(--font-family-default);
  border: var(--continent-btn-border);
  box-shadow: var(--continent-btn-box-shadow);
  background: var(--bg-white);
  border-radius: 20px;
  padding: 10px;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;
}

.continent-grid__item:active {
  background: var(--continent-btn-bg-active);
  box-shadow: var(--continent-btn-box-shadow-active);
}

.continent-grid__item--tall {
  grid-row: span 2;
}
.country-grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-default);
	height: 120px;
	border: var(--continent-btn-border);
	box-shadow: var(--continent-btn-box-shadow);
	background: var(--bg-white);
	border-radius: 20px;
	padding: 10px;
	font-size: 38px;
	font-weight: 600;
	letter-spacing:0px;
	line-height: 1.2;
	cursor: pointer;
}
.country-grid__item:active {
	background: var(--continent-btn-bg-active);
	box-shadow: var(--continent-btn-box-shadow-active);
}
.quantity-control__btn {
  font-family: var(--font-family-default);
  width: 44px;
  height: 44px;
  border-radius: 8px;
	margin:0;
  border: var(--quantity-control-btn-border);
  background: var(--quantity-control-btn-bg);
  font-size: 36px;
  font-weight: 700;
  box-shadow: var(--quantity-control-btn-box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
	cursor: pointer;
}
.quantity-control__btn:active {
  background: var(--quantity-control-btn-bg-active);
  box-shadow: var(--quantity-control-btn-box-shadow-active);
}
.quantity-control__btn--disabled {
	border: var(--quantity-btn-disabled);
	cursor: default;
  box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
}
.quantity-control-icon--minus,
.quantity-control-icon--plus {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.quantity-control-icon--minus {
  width: 20px;
  height: 2px;
  background-image: var(--control-bar__sound-icon--minus);
}
.quantity-control-icon--minus-disabled {
  width: 20px;
  height: 2px;
  background-image: var(--quantity-btn-minus-disabled-icon);
}
.quantity-control-icon--plus {
  width: 20px;
  height: 20px;
  background-image: var(--control-bar__sound-icon--plus);
}
.package-payment-list__delete {
  font-family: var(--font-family-default); 
	display: flex; 
  align-items: center; 
  justify-content: center;
	width:100px;
	height:54px;
	border: var(--package-payment-btn-border);
	background: var(--package-payment-btn-bg);
	box-shadow: var(--package-payment-btn-box-shadow); 
	border-radius: 8px;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 0px;
  line-height: 1.2;
	cursor: pointer;
  box-sizing: border-box;
	padding:10px;
	line-height:1;
	margin:0 auto;
}
.package-payment-list__delete:active {
	background: var(--package-payment-btn-bg-active);
	box-shadow: var(--package-payment-btn-box-shadow-active); 
}

