:root {
	--body-bg: #F6F6F6;
  --container-bg: #FFFFFF;
  --container-width: 1080px;
  --container-height: 1920px;
	--lower-screen-container-bg: #262626;
	--lower-screen-container-color: #888888;
	--lower-screen-logo: url("../img/svg/lower-screen-logo.svg");	
	
	--font-family-default: "Pretendard", sans-serif;
	--fc-title-color: #262626;
	--fc-base-color: #3D3D3D;
	--fc-sub-color: #5D5D5D;
  --fc-blue-color: #2B54CA;
	--fc-green-color: #008015;
  --fc-red-color: #D41515;
	--fc-white-color: #FFFFFF;
	--fc-accent-color: #2B54CA;
	--bg-white: #FFFFFF;
	--bg-accent: #FCE9D8;
	--bg-transparent: transparent;

  --header-width: 100%;
  --header-height: 120px;
  --header-main-bg: #FFFFFF;
	--header-sub-bg: #FFFFFF;
	--main-width: 100%;
	--main-height: calc(100% - (var(--header-height) + var(--control-bar-height)));
	--main-height-lower: 720px;

	--header-logo-img: url("../img/svg/logo.svg");	
  --header-btn-home-img: url("../img/svg/icon_home.svg");
  --header-btn-lang-img: url("../img/svg/flag_of_korea.svg");
  --header-btn-help-img: url("../img/svg/icon_bell.svg");
	--header-btn-call-bk-img: url("../img/svg/icon_call_bk.svg");
	--header-btn-bg-active: #E7E7E7;
  --header-btn-border: 2px solid #3D3D3D;
	--header-btn-text: #3D3D3D;
	--header-btn-call-bg: #DEEAFB;	
	--header-btn-call-bg-active: #C4DCF9;
	--header-btn-call-text: #2846A5;
	--header-btn-box-shadow: 0px -6px 0px 0px #00000040 inset, 0px 1px 2px 0px #00000033;
	--header-btn-box-shadow-active: 0px 1px 2px 0px #00000033;

	--btn-disabled-border: #E7E7E7;
	--btn-disabled-bg: #FFFFFF;
	--btn-disabled-color: #B0B0B0;
	--btn-disabled-box-shadow: 0px -6px 0px 0px #E7E7E7 inset;

	--main-bg: #FFFFFF;
	--main-sub-bg: #F6F6F6;
	--main-location-bg:#F6F6F6 url("../img/svg/icon_marker.svg") no-repeat 30px 10px / 60px;
	--main-border-top: 2px solid #D1D1D1;
	--main-logo: url("../img/svg/main_logo.svg");	

	--main__title-color: #262626;
	--main__title-desc-color: #454545;
	--main__title--emblem-police: url("../img/svg/emblem_police.svg");
	--lower-screen-main__title--emblem-police: url("../img/svg/emblem_police.svg") no-repeat / 106px;
  --main__button--service-bg: linear-gradient(180deg, #3368DD 0%, #2846A5 100%);
	--main__button--service-bg-active: linear-gradient(180deg, #1B2750 0%, #1B2750 100%);
	--main__button--service-box-shadow: 0px 6px 15px 0px #00000080;
	--main__button--service-box-shadow-active: 0px 6px 15px 0px #00000080;
	--main__button--service-text-color: #FFFFFF;
  --main__button--service-sub-bg: #B72D1E;
	--main__button--service-sub-bg-active: #A82E25;
	--main__button--service-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--main__lang-color: #3D3D3D;
  --main-service-cctv-border: 2px solid #D1D1D1;
	--main-service-cctv-bg: #E7E7E7;
	--main-service-cctv-color: #5D5D5D;
  --main-service-cctv-border-lower: 2px solid #5D5D5D;	
	--main-service-cctv-bg-lower: #3D3D3D;
	--main-service-cctv-color-lower: #D1D1D1;
	--main-info-desc: #454545;
	--main-info-desc-accent: #262626;
	--main-title-bg-lower: #262626;
	--main-title-color-lower: #FFFFFF;
	--main-title-border-lower: 2px solid #5d5d5d;	

  --control-bar-width: 100%;
	--control-bar-height: 120px;
  --control-bar-bg: #FFFFFF;
	--control-bar--no_bg: #FFFFFF;
  --control-bar--border-top: 2px solid #E7E7E7;
	--control-bar-sound-bg: #F6F6F6;	
  --control-bar-sound-button-border: 2px solid #6F6F6F;
  --control-bar-sound-button-box-shadow: 0px -6px 0px 0px #00000040 inset, 0px 1px 2px 0px #00000033;
	--control-bar-sound-button-bg: #FFFFFF;
	--control-bar-sound-button-bg-active: #E7E7E7;
  --control-bar-sound-button-box-shadow-active: 0px 2px 3px 0px #00000066;
	--control-bar__sound-level-color: #262626;

	--accessibility-btn-bg: #FFFFFF;
  --accessibility-btn-border: 2px solid #3D3D3D;
  --accessibility-btn-color: #3D3D3D;
	--accessibility-btn-color-active: #FFFFFF;
  --control-bar__sound-icon--minus: url("../img/svg/icon_minus.svg");
  --control-bar__sound-icon--plus: url("../img/svg/icon_plus.svg");
	--control-bar__sound-icon--volume: url("../img/svg/icon_volume.svg");

	--accessibility-high-contrast: url("../img/svg/accessibility-high-contrast.svg");
	--accessibility-high-contrast-active: url("../img/svg/accessibility-high-contrast-active.svg");
	--accessibility-lower-screen: url("../img/svg/accessibility-lower-screen.svg");
	--accessibility-lower-screen-active: url("../img/svg/accessibility-lower-screen-active.svg");
	--accessibility-full-screen: url("../img/svg/accessibility-full-screen.svg");
	--accessibility-full-screen-active: url("../img/svg/accessibility-full-screen-active.svg");

	--info-card-bg: #FFFFFF;
  --info-card-border: 2px solid #E7E7E7;
  --info-card-title-bg: #DEEAFB;
  --info-card-title-color: #3D3D3D;
  --info-card-label-color: #4F4F4F;	
  --info-card-value-color: #3D3D3D;
	--info-card-list-color: #4F4F4F;

	--category-nav-border-bottom: 2px solid #D1D1D1;
  --category-nav-btn-bg: #FFFFFF;
  --category-nav-btn-border: 2px solid #3D3D3D;
  --category-nav-btn-box-shadow: 0px -6px 0px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
  --category-nav-btn-bg-active: #B0B0B0;
  --category-nav-btn-shadow-active: 0px 2px 3px 0px #00000066;
  --category-nav-btn-bg-disabled: #FFFFFF;
  --category-nav-btn-border-disabled: 2px solid #B0B0B0;	
  --category-nav-btn-box-shadow-disabled: 0px 0px 0px 0px #00000066;

	--icon-prev: url("../img/svg/chevron_left.svg");
	--icon-next: url("../img/svg/chevron_right.svg");
	--icon-prev-disabled: url("../img/svg/chevron_left-disabled.svg");
	--icon-next-disabled: url("../img/svg/chevron_right-disabled.svg");
	--badge-hot: url("../img/svg/badge_hot.svg");
	--badge-ice: url("../img/svg/badge_ice.svg");
	
	--product-card-bg: #FFFFFF;
	--product-card-border: 2px solid #3D3D3D;
	--product-card-box-shadow: 0px -6px 0px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--product-card-bg-active: #b0b0b0;
	--product-card-box-shadow-active: 0px 2px 3px 0px #00000066;
	--product-card-name: #3D3D3D;
	--product-card-price: #3D3D3D;
	--product-card-image-box-bg: #F6F6F6;

  --category-item-color: #3D3D3D;
	--category-item-bg: #FFFFFF; 
  --category-item-border: 2px solid #4F4F4F;
  --category-item-box-shadow: 0px -6px 0px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
  --category-item-color-active: #FFFFFF;
	--category-item-bg-active: #1B2750;
  --category-item-border-active: 2px solid #1B2750;
  --category-item-box-shadow-active: 0px 2px 3px 0px #00000033;
	--category-item-active-after: #FFFFFF;  	

  --info-box--bg: #FFFFFF;
  --info-box-compact--bg: #FFFFFF;
  --info-box--border: 3px solid #B0B0B0;
	--info-box--color: #3D3D3D;
  --info-list-text-color: #3D3D3D;
	--info-box--header-color: #454545;
	--info-list-blt: url("../img/svg/blt_list.svg");
	--info-header--icon: url("../img/svg/icon_info.svg"); 
	--info-header--divider-line: #E7E7E7;
	--info-box-title--bg: #FFF1F1;
	--info-box-title--color: #D41515; 

	--order-card-border: 2px solid #D92B35;
	--order-card-bg: #FFF0F1;
	--order-card-thumbnail-bg: #FFFFFF;
	--order-card-ncolor: #262626;
	--order-card-accent-color: #9B0024;
	--order-card-background-bg: #FFF0F1;

	--main-btn-call-bg: #003478;
	--main-btn-call-box-shadow: 0px -6px 0px 0px #00195F inset, 0px 4px 8px 0px #00000033;
	--main-btn-call-color: #FFFFFF;
	--main-btn-call-bg-active: #1B2750;	
	--main-btn-call-box-shadow-active: 0px 0px 0px 0px #00195F inset, 0px 0px 0px 0px #00000033;
  --main-btn-call-img: url("../img/svg/icon_call.svg"); 

	--main-btn-prev-img: url("../img/svg/icon_prev.svg");
  --main-btn-next-img: url("../img/svg/icon_next.svg");
  --main-btn-cancel-img: url("../img/svg/icon_cancel.svg");		
 	--main-btn-home-img: url("../img/svg/icon_home_white.svg");			
  --main-btn-next-img-disabled: url("../img/svg/icon_next_disabled.svg");	
  --main-btn-primary-color: #FFFFFF;
  --main-btn-primary-bg: #2B54CA;
  --main-btn-primary-box-shadow: 0px -8px 0px 0px #243B7C inset;;	
  --main-btn-primary-bg-active: #1B2750;
  --main-btn-primary-box-shadow-active: 0px 6px 15px 0px #00000080;

  --main-btn-secondary-bg: #FFFFFF;
  --main-btn-secondary-color: #3D3D3D;
  --main-btn-secondary-box-shadow: 0px -6px 0px 0px #00000040 inset;
  --main-btn-secondary-border: 3px solid #3D3D3D;
  --main-btn-secondary-bg-active: #E7E7E7;
  --main-btn-secondary-box-shadow-active: 0px 0px 0px 0px #00000040 inset;

  --main-btn-dark-bg: #454545;
  --main-btn-dark-color:#FFFFFF;
  --main-btn-dark-box-shadow: 0px -6px 0px 0px #262626 inset;
  --main-btn-dark-border: 3px solid #3D3D3D;
  --main-btn-dark-bg-active: #262626;
  --main-btn-dark-box-shadow-active: 0px 0px 0px 0px #00000040 inset;

 	--modal-icon-close: url("../img/svg/icon_close.svg");	
 	--modal-icon-next: url("../img/svg/icon_next.svg");	

	--progress-steps-bg: #FFFFFF;
	--progress-step-line: #6F6F6F;
	--progress-step-line-current: #2846A5;
	--progress-step-text-default: #6F6F6F;
	--progress-step-text-current: #262626;
	--progress-step-text-completed: #262626;
	--progress-step-index-border: 2px solid #ffffff;
	--progress-step-index-span-border: 2px solid #6F6F6F;	
	--progress-step-border-current: #2846A5;
	--progress-step-bg-current: #2846A5;
	--progress-step-color-current: #FFFFFF;
	--progress-step-border-completed: #2846A5;
	--progress-step-bg-completed: #2846A5;
	--progress-step-img-completed: url("../img/svg/icon_check.svg");
  --progress-step-index-current-border: 2px solid #2846A5;
  --progress-step-index-current-bg: #DEEAFB;

	--lower-screen-progress-step-line-current: #FFFFFF;
	--lower-screen-progress-step-text: #D1D1D1;
	--lower-screen-progress-step-text-current: #FFFFFF;
	--lower-screen-progress-step-text-completed: #FFFFFF;
	--lower-screen-progress-step-index-border: 2px solid transparent;
	--lower-screen-progress-step-border-current: #FFFFFF;
	--lower-screen-progress-step-bg-current: #FFFFFF;
	--lower-screen-progress-step-color-current: #000000;
	--lower-screen-progress-step-index-current-border:2px solid #FFFFFF;
	--lower-screen-progress-step-index-current-bg: transparent;
	--lower-screen-progress-step-index-span-border: 2px solid #D1D1D1;
	--lower-screen-progress-step-img-completed: url("../img/svg/icon_check_bk.svg");
	--lower-screen-progress-step-border-completed: #FFFFFF; 
	--lower-screen-progress-step-bg-completed: #FFFFFF;

	--cart-bg: #FFFFFF;
	--cart-border: 2px solid #B0B0B0;
	--cart-header-color: #3D3D3D;
	--cart-header-bg: #E7E7E7;
	--cart-header-border: 1px solid #E7E7E7;
	--cart-header-btn-color: #3D3D3D;
	--cart-header-btn-bg: #FFFFFF;
	--cart-header-btn-border: 2px solid #5D5D5D;
	--cart-header-btn-color-active: #3D3D3D;		
	--cart-header-btn-bg-active: #B0B0B0;
	--cart-header-btn-color-disabled: #B0B0B0;
	--cart-header-btn-border-disabled: 2px solid #B0B0B0;
	--cart-barcode-img: url("../img/svg/img_barcode.svg");
	--cart-barcode-color: #262626;	
	--cart-item-border-bottom: 1px solid #D1D1D1;
	--cart-item-border-left: 1px solid #D1D1D1;
	--cart-item-border-bg: #D1D1D1;	
	--cart-item-bg-active: #FFF0F1;
	--cart-item-name-color: #262626;	
	--cart-item-quantity-bg: #F6F6F6;
	--cart-item-quantity-accent-bg: #F6F6F6;
	--cart-item-count-color: #262626;
	--cart-item-count-accent-color: #2B54CA;
	--cart-item-quantity-btn-bg: #FFFFFF;
	--cart-item-quantity-btn-border: 2px solid #3D3D3D;
	--cart-item-quantity-btn-box-shadow: 0px -6px 0px 0px #00000040 inset, 0px 1px 2px 0px #00000033;
	--cart-item-quantity-btn-bg-active: #E7E7E7;
	--cart-item-quantity-btn-box-shadow-active: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;	
	--cart-item-quantity-btn-border-disabled: 2px solid #B0B0B0;
	--cart-item-quantity-btn-bg-disabled: #FFFFFF;
	--cart-item-price-color: #262626;	
	--cart-item-icon-minus: url("../img/svg/icon_minus.svg");
	--cart-item-icon-plus: url("../img/svg/icon_plus.svg");
	--cart-item-icon-delete: url("../img/svg/icon_delete.svg");
	--cart-item-icon-minus-active: url("../img/svg/icon_minus.svg");
	--cart-item-icon-plus-active: url("../img/svg/icon_plus.svg");	
	--cart-item-icon-delete-active: url("../img/svg/icon_delete.svg");
	--cart-items-color: #4F4F4F;
	--cart-item-active-bg: #C4DCF9;	
	
	--cart-item-icon-opacity: 0.3;	
	--cart-item-delete-border: 2px solid ##6F6F6F;
	--cart-item-delete-bg: #454545;
	--cart-item-delete-box-shadow: 0px -4px 3px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--cart-item-delete-bg-active: #262626;
	--cart-item-delete-box-shadow-active: 0px -6px 0px 0px #00000040 inset;
	--cart-summary-bg:  #FFFFFF;
	--cart-info-color: #5D5D5D; 
	--cart-info-border-right: 2px solid #D1D1D1;	
	--cart-summary-item-color: #454545;
	--cart-summary-price-color: #3D3D3D;
	--cart-summary-discount-color: #9B0024;
	--cart-payment-cctv-bg: #E7E7E7;
	--cart-payment-cctv-border: 2px solid #D1D1D1;	
	--cart-payment-cctv-color: #5D5D5D;
	--cart-payment-btn-color: #FFFFFF;
	--cart-payment-btn-border: 0px solid #3368DD;	
	--cart-payment-btn-bg: linear-gradient(180deg, #3368DD 0%, #2846A5 100%);
	--cart-payment-btn-box-shadow: 0px -10px 0px 0px #243B7C inset, 0px 6px 15px 0px #0000004D;
	--cart-payment-btn-bg-active: #1B2750;
	--cart-payment-btn-box-shadow-active: 0px 6px 15px 0px #0000004D;
	--cart-payment-btn-color-disabled: #FFFFFF;
	--cart-payment-btn-bg-disabled: linear-gradient(180deg, #B0B0B0 0%, #B0B0B0 100%);
	--cart-payment-btn-box-shadow-disabled: 0px 0px 0px 0px #00000040;
	--cart-payment-btn-color-disabled-active: #FFFFFF; 
	--cart-payment-btn-bg-disabled-active: #9f9c9c;
	--cart-payment-btn-box-shadow-disabled-active: 0px 0px 0px 0px #00000040;
	--cart-action-border-top: 1px solid #E7E7E7;
	
	--cart-summary-bg: #FFFFFF;
	--cart-summary-border: 2px solid #E7E7E7;  
	--cart-info-color: #5D5D5D; 
	--cart-info-border-right: 2px solid #D1D1D1;	
	--cart-summary-row-color: #454545;
	--cart-summary-price-color: #3D3D3D;
	--cart-summary-accent-color: #2B54CA;

	--cart-bag-btn-color: #3D3D3D;
	--cart-bag-btn-border: 2px solid #3D3D3D;
	--cart-bag-btn-bg: #FFFFFF;
 	--cart-bag-btn-box-shadow: 0px -4px 0px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--cart-bag-btn-color-active: #3D3D3D;
	--cart-bag-btn-border-active: 2px solid #3D3D3D;
	--cart-bag-btn-bg-active: #B0B0B0;
 	--cart-bag-btn-box-shadow-active: 0px 2px 3px 0px #00000066;;
	--cart-bag-btn-color-disabled: #B0B0B0;
	--cart-bag-btn-border-disabled: 2px solid #B0B0B0;
	--cart-bag-btn-bg-disabled: #FFFFFF;
 	--cart-bag-btn-box-shadow-disabled: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--cart-bag-badge-bg: #D41515;
	--cart-bag-badge-color: #FFFFFF;

	--cart-btn-more-color: #3D3D3D;
	--cart-btn-more-bg: #FFFFFF;
	--cart-btn-more-border: 2px solid #3D3D3D;
	--cart-btn-more-box-shadow: 0px 2px 3px 0px #00000066;
	--cart-btn-more-bg-active: #B0B0B0;
	--cart-btn-more-box-shadow-active: 0px 2px 3px 0px #00000066;

	--cart-pay-btn-color: #FFFFFF;
	--cart-pay-btn-bg: linear-gradient(180deg, #3368DD 0%, #2846A5 100%);
	--cart-pay-btn-box-shadow: 0px 6px 15px 0px #00000080;
	--cart-pay-btn-bg-active: linear-gradient(180deg, #1B2750 0%, #1B2750 100%); 
	--cart-pay-btn-box-shadow-active: 0px 6px 15px 0px #00000080;
	--cart-pay-btn-color-disabled: #FFFFFF;
	--cart-pay-btn-bg-disabled: linear-gradient(180deg, #B0B0B0 0%, #B0B0B0 100%);
	--cart-pay-btn-border-disabled: 0px solid #B0B0B0;
	--cart-pay-btn-box-shadow-disabled: 0px 0px 0px 0px #00000040;
	--cart-pay-btn-color-disabled-active: #FFFFFF; 
	--cart-pay-btn-bg-disabled-active: #9f9c9c;
	--cart-pay-btn-box-shadow-disabled-active: 0px 0px 0px 0px #00000040;
	--cart-action-border-top: 1px solid #B0B0B0;
	--cart-item-thumb: 1px solid #B0B0B0;
	--cart-view-btn-bg: #FFFFFF;
	--cart-view-btn-border:	2px solid #5d5d5d;
	--cart-view-new-bg: #b9002c;
	--cart-view-new-color: #FFFFFF;
	--cart-view-icon:  url("../img/svg/icon_cart.svg");
	--cart-view-color: #3d3d3d;

	--order-summary-bg: #DEEAFB;
	--order-summary-label-color: #3D3D3D;
	--order-summary-value-color: #2B54CA; 
	--order-summary-divider-bg: #B0B0B0;

	--scroll-btn-bg: #FFFFFF;
	--scroll-btn-color: #3D3D3D;
	--scroll-btn-border: 2px solid #3D3D3D;
	--scroll-btn-box-shadow: 0px -4px 3px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--scroll-btn-bg-active: #E7E7E7;
	--scroll-btn-box-shadow-active: 0px 2px 3px 0px #00000066;
	--scroll-page-color: #4F4F4F;
	--scroll-page-accent-color: #2B54CA;
	--scroll-btn-bg-disabled: #FFFFFF;
	--scroll-btn-border-disabled: 2px solid #B0B0B0;	
	--scroll-btn-box-shadow-disabled: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--scroll-icon-up: url("../img/svg/icon_scroll_up.svg");
	--scroll-icon-down: url("../img/svg/icon_scroll_down.svg");
	--scroll-icon-up-disabled: url("../img/svg/icon_scroll_up_disabled.svg"); 
	--scroll-icon-down-disabled: url("../img/svg/icon_scroll_down_disabled.svg");
	--scroll-icon-opacity: 1;	

	--cart-shortcut-item-border: 2px solid #5D5D5D;
	--cart-shortcut-item-bg: #FFFFFF;
	--cart-shortcut-item-color: #262626;
	--cart-shortcut-item-bg-active: #B0B0B0;

	--option-popup-bg: #FFFFFF;
	--option-popup-border: 1px solid #B0B0B0;
	--option-popup-color: #3D3D3D;
	--option-popup-divider-border: 2px solid #E7E7E7;
	--product-info-name-color: #3D3D3D;
	--product-info-options-color: #4F4F4F;
	--product-info-divider-bg: #E7E7E7;
	--product-info-price-color: #2B54CA;
	--topping-item-bg: #FFFFFF;
	--topping-item-border: 2px solid #3D3D3D;
	--topping-item-box-shadow: 0px 2px 3px 0px #00000066;
	--topping-item-color: #4F4F4F;
	--topping-item-price-color: #3D3D3D;
	--topping-item-price-color-selected: #2B54CA;
	--topping-item-selected-border: 4px solid #2B54CA;
	--topping-item-selected-bg: #DEEAFB;
	--topping-item-selected-color: #2B54CA;
	
	--modal-backdrop: rgba(0, 0, 0, 0.5); 	
	--modal-box-shadow: 0px 0px 20px 0px #00000040;
	--modal-border: 2px solid #B0B0B0;	
	--modal-bg: #fff;
  --modal-title-color: #3D3D3D;	
  --modal-btn-bg: #2B54CA;
  --modal-btn-color: #FFFFFF;
  --modal-btn-bg-active: #2846A5;
  --modal-btn-box-shadow: 0px -5px 5px 0px #00000040 inset, 0px 2px 3px 0px #00000066;  
  --modal-button-primary--color: #FFFFFF;
  --modal-button-primary--bg: #2B54CA;
  --modal-button-primary--box-shadow: 0px -8px 0px 0px #243B7C inset;;	
  --modal-button-primary--bg-active: #1B2750;
  --modal-button-primary--box-shadow-active: 0px 6px 15px 0px #00000080;

  --modal-button-secondary--bg: #FFFFFF;
  --modal-button-secondary--color: #3d3d3d;
  --modal-button-secondary--border: 3px solid #3D3D3D;
  --modal-button-secondary--box-shadow: 0px -6px 0px 0px #26262640 inset;
  --modal-button-secondary--bg-active: #E7E7E7;
  --modal-button-secondary--box-shadow-active: 0px 0px 0px 0px #26262640 inset;
  --modal-timer-icon: url("../img/svg/icon_timer.svg") no-repeat;
  --modal-timer-icon-red: url("../img/svg/icon_timer_red.svg") no-repeat;	
  --modal-timer-color: #3D3D3D;
  --modal-timer-countdown-color: #2B54CA;

	--modal-mute-btn-icon--mute: url("../img/svg/icon_volume_mute.svg") no-repeat center / 32px;
	--modal-mute-btn-bg: #fff;
	--modal-mute-btn-bg-active: #DEEAFB;
	--modal-mute-btn-bg-pressed: #9BC5F5;	
	--modal-mute-btn-border: 2px solid #3D3D3D;	
	--modal-mute-btn-box-shadow: 0px -4px 3px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--modal-mute-btn-box-shadow-active: 0px 1px 2px 0px #00000033;	
  --modal-icon-alert: url("../img/svg/icon_alert.svg") no-repeat;

	--border-line: 2px solid #888888;

	--pagination-btn-bg: #FFFFFF;
	--pagination-btn-color: #3D3D3D;
	--pagination-btn-border: 2px solid #3D3D3D;
	--pagination-btn-box-shadow: 0px -4px 3px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--pagination-btn-bg-active: #E7E7E7;
	--pagination-btn-box-shadow-active: 0px 2px 3px 0px #00000066;
	--pagination-btn-box-shadow-disabled: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--pagination-btn-color-disabled: #B0B0B0;
	--pagination-page-color: #4F4F4F;
	--pagination-page-accent-color: #2B54CA;
	--pagination-btn-bg-disabled: #FFFFFF;
	--pagination-btn-border-disabled: 2px solid #B0B0B0;
	--pagination-icon-arrow-up: url("../img/svg/icon-arrow-up.svg");
	--pagination-icon-arrow-down: url("../img/svg/icon-arrow-down.svg");
	--pagination-icon-arrow-up-disabled: url("../img/svg/icon-arrow-up-disabled.svg");
	--pagination-icon-arrow-down-disabled: url("../img/svg/icon-arrow-down-disabled.svg");		
	--pagination-horizontal-icon-arrow-prev: url("../img/svg/icon-harrow-prev.svg");
	--pagination-horizontal-icon-arrow-next: url("../img/svg/icon-harrow-next.svg");
	--pagination-horizontal-icon-arrow-prev-disabled: url("../img/svg/icon-harrow-prev-disabled.svg"); 
	--pagination-horizontal-icon-arrow-next-disabled: url("../img/svg/icon-harrow-next-disabled.svg");

	--point-btn-color: #3D3D3D;
	--point-btn-bg: #FFFFFF;
	--point-btn-border: 3px  solid #3D3D3D;
	--point-btn-box-shadow: 0px -3px 10px 0px #00000040 inset, 0px 4px 6px 0px #00000033;
	--point-btn-bg-active: #B0B0B0;
	--point-btn-box-shadow-active: 0px 4px 6px 0px #00000033;

	--item-btn-color: #3D3D3D;
	--item-btn-bg: #FFFFFF;
	--item-btn-border: 3px  solid #3D3D3D;
	--item-btn-box-shadow: 0px -3px 10px 0px #00000040 inset, 0px 4px 6px 0px #00000033;
	--item-btn-color-active: #2846A5;
	--item-btn-bg-active:#F0F6FE url("../img/svg/item-btn-active.svg") no-repeat right 12px top 12px / 32px 32px;
	--item-btn-border-active: 5px solid #2B54CA;
	--item-btn-box-shadow-active: 0px 4px 6px 0px #00000033;
	--item-btn-color-disabled: #B0B0B0;
	--item-btn-border-disabled: 3px solid #B0B0B0;
	--item-btn-box-shadow-disabled: 0px 0px 0px 0px #00000033;
	--item-select-disabled-line: #B0B0B0;

	--notice-title-color: #D41515;
	--notice-desc-color: #4F4F4F;
	--privacy-policy-color: #3D3D3D;

	--payment-method-border: 0px;
  --payment-method-color: #3D3D3D;	
	--payment-method-btn-border: 3px solid #3D3D3D;
	--payment-method-btn-bg: #FFFFFF;
	--payment-method-btn-box-shadow: 0px -6px 0px 0px #00000040 inset, 0px 2px 6px 0px #00000080;
	--payment-method-btn-bg-active: #E7E7E7;
	--payment-method-btn-box-shadow-active: 0px 2px 6px 0px #00000080;
	--payment-box-bg: #FFFFFF;
	--payment-box-border: 3px solid #FFFFFF;
	--payment-box-color: #454545;
	--payment-row-label-color: #5D5D5D;
	--payment-row-value-color: #3D3D3D;
	--payment-total-bg: #DEEAFB;
	--payment-total-label-color: #3D3D3D;
	--payment-total-value-color: #3D3D3D;
	--payment-total-value-accent: #2B54CA;
	--payment-guide-color: #3D3D3D; 

  --round-info-border: 3px solid #E7E7E7;
  --round-info-bg: #FFFFFF; 
  --round-info-color: #2B54CA; 
	--round-info-bg-active: #B0B0B0;	

	--spinner-title--color: #262626;	
	--spinner-circle-bg: #ffffff;
	--spinner-wave-light: url("../img/ui/spinner_wave_light.png"); 
	--spinner-wave-dark: url("../img/ui/spinner_wave_dark.png");

	--complete-img: url("../img/svg/img_complete.svg");
	--complete-title-color: #262626;
	--complete-desc-color: #3D3D3D;

	--scrollbar-corner-color: #000000;
  --scrollbar-track-color: #000000;
  --scrollbar-thumb-color: #FFFFFF;

  --zoom-control-bg: #000000;
  --zoom-control-border: 1px solid #FFFFFF;
  --zoom-control-box-shadow: 0px 4px 9.9px 0px #00000040;

  --arrow-button-up-img: url("../img/svg/arrow-button-up.svg") no-repeat center center ;
  --arrow-button-left-img: url("../img/svg/arrow-button-left.svg") no-repeat center center ;
  --arrow-button-right-img: url("../img/svg/arrow-button-right.svg") no-repeat center center ;
  --arrow-button-down-img: url("../img/svg/arrow-button-down.svg") no-repeat center center ;
  --zoom-control-close-bg: #000000; 
  --zoom-control-close-border: 3px solid #FFFFFF;
  --zoom-control-close-color: #FFFFFF;
  --zoom-control-close-box-shadow: 0px 4px 10px 0px #0000004D;
  --zoom-control-close-bg-active: #3D3D3D;
  --zoom-control-close-icon: url("../img/svg/zoom-control-close.svg");
  --zoom-bar-bg: #000000; 
  --zoom-bar-btn-bg : #FFFFFF; 
  --zoom-bar-btn-bg-active : #F6F6F6; 
  --arrow-button-bg: #FFFFFF;  
  --arrow-button-bg-active : #E7E7E7;	

} 

body.high-contrast {
	--body-bg: #000000;	
  --container-bg: #000000;
  --container-width: 1080px;
  --container-height: 1920px;

	--font-family-default: "Pretendard", sans-serif;
	--fc-title-color: #FFFFFF;
	--fc-base-color: #FFFFFF;
	--fc-sub-color:  #FFFFFF;
  --fc-blue-color: #F8DA29;
	--fc-green-color: #1AFF40; 
  --fc-red-color: #FFA0A0;
	--fc-white-color: #FFFFFF;
	--fc-accent-color: #F8DA29;
	--bg-white: #FFFFFF;
	--bg-accent: #FCE9D8;
	--bg-transparent: transparent;

  --header-width: 100%;
  --header-height: 120px;
  --header-main-bg: #000000;
	--header-sub-bg: #000000;

	--header-logo-img: url("../img/svg/logo_contrast.svg");
  --header-btn-home-img: url("../img/svg/icon_home_white.svg");
  --header-btn-play-img: url("../img/svg/icon_play_contrast.svg");
  --header-btn-help-img: url("../img/svg/icon_bell_contrast.svg");
	--header-btn-call-bk-img: url("../img/svg/icon_call_bk_contrast.svg");
	--header-btn-bg: #000000;
	--header-btn-bg-active: #3D3D3D;
  --header-btn-border: 2px solid #FFFFFF;
	--header-btn-text: #FFFFFF;
	--header-btn-call-text: #F8DA29;
	--header-btn-call-bg: #262626;	
	--header-btn-call-bg-active: #3D3D3D;
	--header-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;
	--header-btn-box-shadow-active: 0px 0px 0px 0px #00000033;

	--main-width: 1080px;
	--main-height: calc(100% - (var(--header-height) + var(--control-bar-height)));

	--header-btn-bg: #000000;
	--header-btn-bg-active: #3D3D3D;
  --header-btn-border: 2px solid #FFFFFF;
	--header-btn-text: #FFFFFF;
	--header-btn-call-text: #F8DA29;
	--header-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;
	--header-btn-box-shadow-active: 0px 0px 0px 0px #00000033;

	--main-bg: #000000;
	--main-sub-bg: #000000;
	--main-location-bg: #262626 url("../img/svg/icon_marker_contrast.svg") no-repeat 30px 10px / 60px;
	--main-logo: url("../img/svg/main_logo_contrast.svg");	

	--main__title-color: #FFFFFF;
	--main__title-desc-color: #FFFFFF;
  --main__button--service-bg: #F8DA29;
	--main__button--service-text-color: #000000;
	--main__button--service-box-shadow: 0px 0px 0px 0px #00000000 inset, 0px 0px 0px 0px #00000000;
	--main__button--service-bg-active: #C89406;
  --main__button--service-sub-bg: #E7BE0B;
	--main__button--service-sub-bg-active: #DAB206;
	--main__button--service-text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
	--main__lang-color: #FFFFFF;
  --main-service-cctv-border: 2px solid #5D5D5D;
	--main-service-cctv-bg: #3D3D3D;
	--main-info-desc: #454545;
	--main-info-desc-accent: #262626;

  --control-bar-width: 100%;
	--control-bar-height: 120px;
  --control-bar-bg: #000000;
	--control-bar--no_bg: #000000;
  --control-bar--border-top: 1px solid #E7E7E7;
	--control-bar-sound-bg: #262626;	
  --control-bar-sound-button-border: 0px solid #FFFFFF;
  --control-bar-sound-button-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--control-bar-sound-button-bg: #FFFFFF;
  --control-bar-sound-button-box-shadow-active: 0px 0px 0px 0px #00000066;
	--control-bar-sound-button-bg-active: #E7E7E7;

	--accessibility-btn-bg: #FFFFFF;
  --accessibility-btn-border: 0px solid #3D3D3D;
  --accessibility-btn-color: #FFFFFF;
	--accessibility-btn-color-active: #000000;
  --control-bar__sound-icon--minus: url("../img/svg/icon_minus.svg");
  --control-bar__sound-icon--plus: url("../img/svg/icon_plus.svg");
	--control-bar__sound-icon--volume: url("../img/svg/icon_volume-contrast.svg");
	--control-bar__sound-level-color: #FFFFFF;

	--accessibility-high-contrast: url("../img/svg/accessibility-high-contrast-contrast.svg");
	--accessibility-high-contrast-active: url("../img/svg/accessibility-high-contrast-contrast-active.svg");
	--accessibility-lower-screen: url("../img/svg/accessibility-lower-screen-contrast.svg");
	--accessibility-lower-screen-active: url("../img/svg/accessibility-lower-screen-contrast-active.svg");
	--accessibility-full-screen: url("../img/svg/accessibility-full-screen-contrast.svg");
	--accessibility-full-screen-active: url("../img/svg/accessibility-full-screen-contrast-active.svg");

	--info-card-bg: #000000;
  --info-card-border: 2px solid #E7E7E7;
  --info-card-title-bg: #262626;
  --info-card-title-color: #FFFFFF;
  --info-card-label-color: #D1D1D1;	
  --info-card-value-color: #FFFFFF;
	--info-card-list-color: #D1D1D1;

	--category-nav-border-bottom: 2px solid #5D5D5D;
  --category-nav-btn-bg: #FFFFFF;
  --category-nav-btn-border: 2px solid #3D3D3D;
  --category-nav-btn-box-shadow: 0px -6px 0px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
  --category-nav-btn-bg-active: #B0B0B0;
  --category-nav-btn-shadow-active: 0px 2px 3px 0px #00000066;
  --category-nav-btn-bg-disabled: #000000;
  --category-nav-btn-border-disabled: 2px solid #5D5D5D;	
  --category-nav-btn-box-shadow-disabled: 0px 0px 0px 0px #00000066;

	--icon-prev: url("../img/svg/chevron_left.svg");
	--icon-next: url("../img/svg/chevron_right.svg");
	--icon-prev-disabled: url("../img/svg/chevron_left-disabled.svg");
	--icon-next-disabled: url("../img/svg/chevron_right-disabled.svg");
	--badge-hot: url("../img/svg/badge_hot.svg");
	--badge-ice: url("../img/svg/badge_ice.svg");
	
	--product-card-bg: #000000;
	--product-card-border: 2px solid #FFFFFF;
	--product-card-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--product-card-bg-active: #FFFFFF;
	--product-card-box-shadow-active: 0px 0px 0px 0px #00000066;
	--product-card-name: #FFFFFF;
	--product-card-price: #FFFFFF;
	--product-card-name-active: #000000;
	--product-card-price-active: #000000;
	--product-card-image-box-bg: #262626;
	--product-card-image-box-bg-active: #00000080;

  --category-item-color: #FFFFFF;
	--category-item-bg: #000000; 
  --category-item-border: 2px solid #FFFFFF;
  --category-item-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
  --category-item-color-active: #3D3D3D;
	--category-item-bg-active: #FFFFFF;
  --category-item-border-active: 2px solid #FFFFFF;
  --category-item-box-shadow-active: 0px 0px 0px 0px #00000033;
	--category-item-active-after: #000000;  

  --info-box--bg: #000000;
  --info-box-compact--bg: #000000;		
  --info-box--border: 3px solid #B0B0B0;
	--info-box--color: #FFFFFF;
  --info-list-text-color: #FFFFFF;
	--info-box--header-color: #FFFFFF;
	--info-list-blt: url("../img/svg/blt_list_contrast.svg");
	--info-header--icon: url("../img/svg/icon_info_contrast.svg"); 
	--info-header--divider-line: #E7E7E7;
	--info-box-title--bg: #480707;
	--info-box-title--color: #FFF1F1;   

	--order-card-border: 2px solid #F8DA29;
	--order-card-bg: #262626;
	--order-card-thumbnail-bg: #262626;
	--order-card-color: #FFFFFF;
	--order-card-accent-color: #F8DA29;
	--order-card-background-bg: #262626;

	--main-btn-call-bg: #FFFFFF;
	--main-btn-call-box-shadow: 0px 0px 0px 0px #00195F inset, 0px 0px 0px 0px #00000033;
	--main-btn-call-color:#000000;
	--main-btn-call-bg-active: #E7E7E7;	
	--main-btn-call-box-shadow-active: 0px 0px 0px 0px #00195F inset, 0px 0px 0px 0px #00000033;
  --main-btn-call-img: url("../img/svg/icon_call_contrast.svg"); 

	--main-btn-prev-img: url("../img/svg/icon_prev_contrast.svg");
  --main-btn-next-img: url("../img/svg/icon_next_contrast.svg");
	--main-btn-cancel-img: url("../img/svg/icon_cancel_contrast.svg");
 	--main-btn-home-img: url("../img/svg/icon_home_contrast.svg");					
  --main-btn-next-img-disabled: url("../img/svg/icon_next_disabled-contrast.svg");
  --main-btn-primary-color: #000000;
  --main-btn-primary-bg: #F8DA29;
  --main-btn-primary-box-shadow: 0px 0px 0px 0px #B71C1C inset;
  --main-btn-primary-bg-active: #9F6A09;
  --main-btn-primary-box-shadow-active: 0px 0px 0px 0px #B71C1C inset;

  --main-btn-secondary-bg: #000000;
  --main-btn-secondary-color: #FFFFFF;
  --main-btn-secondary-box-shadow: 0px 0px 0px 0px #00000040 inset;
  --main-btn-secondary-border: 3px solid #FFFFFF;
  --main-btn-secondary-bg-active: #3D3D3D;
  --main-btn-secondary-box-shadow-active: 0px 0px 0px 0px #00000040 inset;

  --main-btn-dark-bg: #FFFFFF;
  --main-btn-dark-color:#000000;
  --main-btn-dark-box-shadow: 0px 0px 0px 0px #262626 inset;
  --main-btn-dark-border: 0px solid #3D3D3D;
  --main-btn-dark-bg-active: #B0B0B0;
  --main-btn-dark-box-shadow-active: 0px 0px 0px 0px #00000040 inset;

 	--modal-icon-close: url("../img/svg/icon_close_contrast.svg");	
 	--modal-icon-next: url("../img/svg/icon_next_contrast.svg");	

	--progress-steps-bg: #000000;
	--progress-step-line: #B0B0B0;
	--progress-step-line-current: #F8DA29;
	--progress-step-text-default: #D1D1D1;
	--progress-step-text-current: #FFFFFF;
	--progress-step-text-completed: #FFFFFF;
	--progress-step-index-border: 2px solid #000000;
	--progress-step-index-span-border: 2px solid #D1D1D1;
	--progress-step-border-current: #F8DA29;
	--progress-step-bg-current: #F8DA29;
	--progress-step-color-current: #000000;
	--progress-step-border-completed: #F8DA29;
	--progress-step-bg-completed: #F8DA29;
	--progress-step-img-completed: url("../img/svg/icon_check_contrast.svg");
  --progress-step-index-current-border: 2px solid #F8DA29;
  --progress-step-index-current-bg: #3D3D3D;

	--cart-bg: #000000;
	--cart-border: 2px solid #FFFFFF;
	--cart-header-color: #000000;
	--cart-header-bg: #FFFFFF;
	--cart-header-border: 1px solid #5D5D5D;
	--cart-header-btn-color: #000000;
	--cart-header-btn-bg: #FFFFFF;
	--cart-header-btn-border: 2px solid #000000;
	--cart-header-btn-color-active: #FFFFFF;
	--cart-header-btn-bg-active: #000000;
	--cart-barcode-img: url("../img/svg/img_barcode_contrast.svg");	
	--cart-barcode-color: #FFFFFF;	
	--cart-item-border-bottom: 1px solid #D1D1D1;
	--cart-item-bg: #D1D1D1;
	--cart-item-border-left: 1px solid #D1D1D1;
	--cart-item-border-bg: #5D5D5D;
	--cart-item-bg-active: #3D3D3D;
	--cart-item-name-color: #FFFFFF;
	--cart-item-quantity-bg: #262626;
	--cart-item-quantity-accent-bg: #000000;
	--cart-item-count-color: #FFFFFF;	
	--cart-item-count-accent-color: #F8DA29;
	--cart-item-quantity-btn-bg: #FFFFFF;
	--cart-item-quantity-btn-border: 0px solid #3D3D3D;
	--cart-item-quantity-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;
	--cart-item-quantity-btn-bg-active: #000000;
	--cart-item-quantity-btn-border-active: 2px solid #FFFFFF;	
	--cart-item-quantity-btn-box-shadow-active: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;	
	--cart-item-quantity-btn-border-disabled: 2px solid #5D5D5D;
	--cart-item-quantity-btn-bg-disabled: #000000;	
	--cart-item-price-color: #FFFFFF;
	--cart-item-icon-minus: url("../img/svg/icon_minus.svg");
	--cart-item-icon-plus: url("../img/svg/icon_plus.svg");
	--cart-item-icon-delete: url("../img/svg/icon_delete_contrast.svg");
	--cart-item-icon-minus-active: url("../img/svg/icon_minus_contrast.svg");
	--cart-item-icon-plus-active: url("../img/svg/icon_plus_contrast.svg");	
	--cart-item-icon-delete-active: url("../img/svg/icon_delete.svg");
	--cart-items-color: #D1D1D1;
	--cart-item-active-bg: #3D3D3D;	

	--cart-item-icon-opacity: 1;
	--cart-item-delete-border: 0px solid #6F6F6F;
	--cart-item-delete-bg: #FFFFFF;
	--cart-item-delete-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--cart-item-delete-bg-active: #000000;
	--cart-item-delete-border-active: 2px solid #FFFFFF;	
	--cart-item-delete-box-shadow-active: 0px -6px 0px 0px #00000040 inset;
	--cart-summary-bg: #262626;
	--cart-info-color: #FFFFFF;
	--cart-info-border-right: 2px solid #D1D1D1;
	--cart-summary-item-color: #FFFFFF; 
	--cart-summary-price-color: #FFFFFF; 
	--cart-summary-discount-color: #FFA0A0;
	--cart-payment-cctv-bg: #3D3D3D;
	--cart-payment-cctv-border: 2px solid #5D5D5D;
	--cart-payment-cctv-color: #D1D1D1;
	--cart-payment-btn-color: #000000;
	--cart-payment-btn-border: 0px solid #F8DA29;
	--cart-payment-btn-bg: linear-gradient(180deg, #F8DA29 0%, #F8DA29 100%);
	--cart-payment-btn-box-shadow: 0px 0px 0px 0px #243B7C inset, 0px 0px 0px 0px #0000004D;
	--cart-payment-btn-border-active: 0px solid #5D5D5D;	
	--cart-payment-btn-bg-active: #9F6A09;
	--cart-payment-btn-box-shadow-active: 0px 6px 15px 0px #0000004D;
	--cart-payment-btn-color-disabled: #5D5D5D;
	--cart-payment-btn-bg-disabled: linear-gradient(180deg, #000000 0%, #000000 100%);
	--cart-payment-btn-border-disabled: 3px solid #5D5D5D;	
	--cart-payment-btn-box-shadow-disabled: 0px 0px 0px 0px #00000040;
	--cart-payment-btn-color-disabled-active: #5D5D5D; 
	--cart-payment-btn-bg-disabled-active: #000000;
	--cart-payment-btn-box-shadow-disabled-active: 0px 0px 0px 0px #00000040;
	
	--cart-summary-bg: #000000;
	--cart-summary-border: 2px solid #5D5D5D;  
	--cart-info-color: #FFFFFF; 
	--cart-info-border-right: 2px solid #D1D1D1;	
	--cart-summary-row-color: #FFFFFF;
	--cart-summary-price-color: #FFFFFF;
	--cart-summary-accent-color: #F8DA29;

	--cart-bag-btn-color: #FFFFFF;
	--cart-bag-btn-border: 2px solid #FFFFFF;
	--cart-bag-btn-bg: #000000;
 	--cart-bag-btn-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--cart-bag-btn-color-active: #FFFFFF;
	--cart-bag-btn-border-active: 2px solid #FFFFFF;
	--cart-bag-btn-bg-active: #3D3D3D;
 	--cart-bag-btn-box-shadow-active: 0px 0px 0px 0px #00000066;;
	--cart-bag-btn-color-disabled: #FFFFFF;
	--cart-bag-btn-border-disabled: 2px solid #FFFFFF;
	--cart-bag-btn-bg-disabled: #000000;;
 	--cart-bag-btn-box-shadow-disabled: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--cart-bag-badge-bg: #B91C1C;
	--cart-bag-badge-color: #FFFFFF;

	--cart-btn-more-color: #3D3D3D;
	--cart-btn-more-bg: #FFFFFF;
	--cart-btn-more-border: 2px solid #3D3D3D;
	--cart-btn-more-box-shadow: 0px 2px 3px 0px #00000066;
	--cart-btn-more-bg-active: #B0B0B0;
	--cart-btn-more-box-shadow-active: 0px 2px 3px 0px #00000066;

	--cart-pay-btn-color: #000000;
	--cart-pay-btn-bg: linear-gradient(180deg, #F8DA29 0%, #F8DA29 100%);
	--cart-pay-btn-box-shadow: 0px 0px 0px 0px #5E0014 inset, 0px 0px 0px 0px #00000080;
	--cart-pay-btn-bg-active: linear-gradient(180deg, #9F6A09 0%, #9F6A09 100%); 
	--cart-pay-btn-box-shadow-active: 0px 0px 0px 0px #00000080;
	--cart-pay-btn-color-disabled: #5D5D5D;
	--cart-pay-btn-bg-disabled: linear-gradient(180deg, #000000 0%, #000000 100%);
	--cart-pay-btn-border-disabled: 2px solid #5D5D5D;
	--cart-pay-btn-box-shadow-disabled: 0px 0px 0px 0px #00000040;
	--cart-pay-btn-color-disabled-active: #FFFFFF; 
	--cart-pay-btn-bg-disabled-active: #9f9c9c;
	--cart-pay-btn-box-shadow-disabled-active: 0px 0px 0px 0px #00000040;
	--cart-action-border-top: 1px solid #B0B0B0;
	--cart-item-thumb: 1px solid #B0B0B0;

	--order-summary-bg: #3D3D3D;
	--order-summary-label-color: #FFFFFF;
	--order-summary-value-color: #F8DA29; 
	--order-summary-divider-bg: #FFFFFF;

	--scroll-btn-bg: #FFFFFF;
	--scroll-btn-color: #3D3D3D;
	--scroll-btn-border: 2px solid #3D3D3D;
	--scroll-btn-box-shadow: 0px -4px 3px 0px #00000033 inset, 0px 2px 3px 0px #00000066;
	--scroll-btn-bg-active: #E7E7E7;
	--scroll-btn-box-shadow-active: 0px 2px 3px 0px #00000066;
	--scroll-page-color: #FFFFFF;
	--scroll-page-accent-color: #F8DA29;
	--scroll-btn-bg-disabled: #000000;
	--scroll-btn-border-disabled: 2px solid #5D5D5D;	
	--scroll-btn-box-shadow-disabled: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--scroll-icon-up: url("../img/svg/icon_scroll_up.svg");
	--scroll-icon-down: url("../img/svg/icon_scroll_down.svg");
	--scroll-icon-up-disabled: url("../img/svg/icon_scroll_up_disabled.svg"); 
	--scroll-icon-down-disabled: url("../img/svg/icon_scroll_down_disabled.svg");
	--scroll-icon-opacity: 0.6;		

	--cart-shortcut-item-border: 2px solid #FFFFFF;
	--cart-shortcut-item-bg: #000000;
	--cart-shortcut-item-color: #FFFFFF;
	--cart-shortcut-item-bg-active: #5D5D5D;

	--option-popup-bg: #000000;
	--option-popup-border: 1px solid #FFFFFF;
	--option-popup-color: #FFFFFF;
	--option-popup-divider-border: 2px solid #5D5D5D;
	--product-info-name-color: #FFFFFF;
	--product-info-options-color: #B0B0B0;
	--product-info-divider-bg: #E7E7E7;
	--product-info-price-color: #F8DA29;
	--topping-item-bg: #000000;
	--topping-item-border: 2px solid #FFFFFF;
	--topping-item-box-shadow: 0px 0px 0px 0px #00000066;
	--topping-item-color: #FFFFFF;
	--topping-item-price-color: #FFFFFF;
	--topping-item-price-color-selected: #F8DA29;
	--topping-item-selected-border: 4px solid #F8DA29;
	--topping-item-selected-bg: #3D3D3D;
	--topping-item-selected-color: #F8DA29;

	--modal-backdrop: rgba(0, 0, 0, 0.6);   
	--modal-border: 2px solid #B0B0B0;	  
	--modal-bg: #000000;
  --modal-title-color: #FFFFFF;
  --modal-btn-bg: #F8DA29;
  --modal-btn-color: #000000;
  --modal-btn-bg-active: #E7BE0B;
  --modal-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000066;  
  --modal-button-primary--color: #000000;
  --modal-button-primary--bg: #F8DA29;
  --modal-button-primary--box-shadow: 0px 0px 0px 0px #243B7C inset;
  --modal-button-primary--bg-active: #E7BE0B;
  --modal-button-primary--box-shadow-active: 0px 0px 0px 0px #2B54CA inset;
  --modal-button-secondary--bg: #000000;
  --modal-button-secondary--color: #FFFFFF;
  --modal-button-secondary--border: 3px solid #FFFFFF;
  --modal-button-secondary--box-shadow: 0px 0px 0px 0px #26262640 inset;
  --modal-button-secondary--bg-active: #3D3D3D;
  --modal-button-secondary--box-shadow-active: 0px 0px 0px 0px #26262640 inset;
  --modal-timer-icon: url("../img/svg/icon_timer_contrast.svg") no-repeat;
  --modal-timer-icon-red: url("../img/svg/icon_timer_red_contrast.svg") no-repeat;	
  --modal-timer-color: #FFFFFF;
  --modal-timer-countdown-color: #FBE949;

	--pagination-btn-bg: #FFFFFF;
	--pagination-btn-border: 0px solid #5d5d5d;
	--pagination-btn-box-shadow: 0px 0px 0px 0px #00000033 inset, 0px 0px 0px 0px #00000066;
	--pagination-btn-bg-active: #5D5D5D;
	--pagination-btn-box-shadow-active: 0px 0px 0px 0px #00000066;
	--pagination-page-color: #FFFFFF;
	--pagination-page-accent-color: #F8DA29;
	--pagination-btn-bg-disabled:  #000000;
	--pagination-btn-border-disabled: 2px solid #5D5D5D;	
	--pagination-icon-arrow-up: url("../img/svg/icon-arrow-up_contrast.svg");
	--pagination-icon-arrow-down: url("../img/svg/icon-arrow-down_contrast.svg");
	--pagination-icon-arrow-up-disabled: url("../img/svg/icon-arrow-up-disabled_contrast.svg");
	--pagination-icon-arrow-down-disabled: url("../img/svg/icon-arrow-down-disabled_contrast.svg");		
	--pagination-horizontal-icon-arrow-prev: url("../img/svg/icon-harrow-prev_contrast.svg");
	--pagination-horizontal-icon-arrow-next: url("../img/svg/icon-harrow-next_contrast.svg");
	--pagination-horizontal-icon-arrow-prev-disabled: url("../img/svg/icon-harrow-prev-disabled_contrast.svg"); 
	--pagination-horizontal-icon-arrow-next-disabled: url("../img/svg/icon-harrow-next-disabled_contrast.svg");
	
	--point-btn-color: #000000;
	--point-btn-bg: #FFFFFF;
	--point-btn-border: 0px  solid #3D3D3D;
	--point-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000033;
	--point-btn-bg-active: #B0B0B0;
	--point-btn-box-shadow-active: 0px 0px 0px 0px #00000033;

	--item-btn-color: #FFFFFF;
	--item-btn-bg: #000000;
	--item-btn-border: 3px  solid #FFFFFF;
	--item-btn-box-shadow: 0px -3px 10px 0px #00000040 inset, 0px 4px 6px 0px #00000033;
	--item-btn-color-active: #F8DA29;
	--item-btn-bg-active:#262626 url("../img/svg/item-btn-active_contrast.svg") no-repeat right 12px top 12px / 32px 32px;
	--item-btn-border-active: 5px solid #F8DA29;
	--item-btn-box-shadow-active: 0px 4px 6px 0px #00000033;
	--item-btn-color-disabled: #5d5d5d;
	--item-btn-border-disabled: 3px solid #5d5d5d;
	--item-btn-box-shadow-disabled: 0px 0px 0px 0px #00000033;
	--item-select-disabled-line: #5d5d5d;

	--notice-title-color: #FFA0A0;
	--notice-desc-color: #E7E7E7;
	--privacy-policy-color: #FFFFFF;	

	--payment-method-border: 0px;
  --payment-method-color: #000000;
	--payment-method-btn-border: 0px solid #3D3D3D;
	--payment-method-btn-bg: #FFFFFF;
	--payment-method-btn-box-shadow: 0px 0px 0px 0px #00000040 inset, 0px 0px 0px 0px #00000080;
	--payment-method-btn-bg-active: #E7E7E7;
	--payment-method-btn-box-shadow-active: 0px 0px 0px 0px #00000080;
	--payment-box-bg: #000000;
	--payment-box-border: 3px solid #B0B0B0;
	--payment-box-color: #FFFFFF;	
	--payment-row-label-color: #D1D1D1;
	--payment-row-value-color: #FFFFFF;
	--payment-total-bg: #262626;
	--payment-total-label-color: #FFFFFF;
	--payment-total-value-color: #FFFFFF;
	--payment-total-value-accent: #F8DA29;
	--payment-guide-color: #F8DA29;

  --round-info-border: 3px solid #5D5D5D;
  --round-info-bg: #000000; 
  --round-info-color: #F8DA29; 
	--round-info-bg-active: #B0B0B0;

	--spinner-title--color: #ffffff;	
	--spinner-circle-bg: #000000;
	--spinner-wave-light: url("../img/ui/spinner_wave_light_contrast.png"); 
	--spinner-wave-dark: url("../img/ui/spinner_wave_dark_contrast.png");
	
	--complete-img: url("../img/svg/img_complete_contrast.svg");
	--complete-title-color: #FFFFFF;
	--complete-desc-color: #FFFFFF;

}