.mr-5 {
  margin-right: 5px;
}
.mt-15 {
  margin-top: 15px;
  display: block;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-120 {
  margin-top: 120px;
}
.lower-screen .mt-120 {
  margin-top: 70px;
}
.mt-243 {
  margin-top: 243px;
}
.lower-screen .mt-243 {
  margin-top: 0px;
  padding: 30px 0;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-10 {
  margin-left: 10px;
}
.empty-40 {
  width: 100%;
  height: 40px;
}
.empty-60 {
  width: 100%;
  height: 60px;
}
.lower-screen .empty-60 {
  width: 100%;
  height: 0px;
}
.empty-174 {
  width: 100%;
  height: 174px;
}
.h-80 {
  height: 80px;
}
.h-200 {
  height: 200px !important;
}
.w-88 {
  width: 88px;
}
.lower-screen .w-88 {
  width: 74px;
}
.w-85 {
  width: 85px;
}
.w-140 {
  width: 140px;
}
.w-190 {
  width: 190px;
}
.lower-screen .w-190 {
  width: 160px;
}
.w-192 {
  width: 192px;
}
.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;  
}