.mr-7 {
  margin-right: 7px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-30 {
  margin-top: 30px;
}
.empty-40 {
  width: 100%;
  height: 40px;
}
.empty-60 {
  width: 100%;
  height: 60px;
}
.h-80 {
  height: 80px;
}
.w-74 {
  width: 74px;
}
.w-140 {
  width: 140px;
}
.w-160 {
  width: 160px;
}
.center {
  display: flex;
  justify-content: center !important;
  align-items: center !important;  
}
.ml-10 {
  margin-left:10px;
}