.button {
  font-family: var(--font-family-default);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
  background: none;
  text-decoration: none;  
  color: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button.disabled, 
.button:disabled {
  border: var(--btn-disabled-border) !important;
  background: var(--btn-disabled-bg) !important;
  color: var(--btn-disabled-color) !important;
  box-shadow: var(--btn-disabled-box-shadow) !important;
  cursor: default;
}
/* Header Button */
.header__button {
  border: var(--header-btn-border);
  background: var(--header-btn-bg);
  color: var(--header-btn-text);
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -2px;
  width: 240px;
  height: 80px;
  box-shadow: var(--header-btn-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;   
}
.header__button:active {
  background: var(--header-btn-bg-active);
	box-shadow: var(--header-btn-box-shadow-active); 
}
.header__icon {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header__icon--home {
  background-image: var(--header-btn-home-img);
}
.header__icon--play {
  background-image: var(--header-btn-play-img);
}
.header__icon--help {
  background-image: var(--header-btn-help-img);
}
.header__button-text {
  width: 152px;
  height: 43px;
  text-align: center;
  display: block;
	color: var(--header-btn-text);
}
.header__button--call {
  background: var(--header-btn-call-bg);  
}
.header__button--call:active {
  background: var(--header-btn-call-bg-active);  
}
.header__button--call .button__title {
	color: var(--header-btn-call-text);
}
.header__action--call {
  color: var(--header-btn-text);
  padding: 0px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;   
}
.header__icon--call {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  background-image: var(--header-btn-call-bk-img);
}
.header__action-text {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Main Service Buttons */
.main__button--service {
  width: 800px;
  height: 250px;
  border-radius: 40px;
  padding: 40px;
  background: var(--main__button--service-bg);
  color: var(--main__button--service-text-color);
  box-shadow: var(--main__button--service-box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.lower-screen .main__button--service {
  width: 800px;
  height: 250px;
  border-radius: 40px;
  padding: 20px 20px;
  margin-left: 38px;
}
.main__button--service:active {
  background: var(--main__button--service-bg-active);
  box-shadow: var(--main__button--service-box-shadow-active);
}
.main__button--service .service__title {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -2px;
  text-align: center;
  text-shadow: var(--main__button--service-text-shadow);
}
.lower-screen .service__title {
  font-size: 60px;  
}
.main__button--calls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
}
.lower-screen .main__button--calls {
  margin-top:37px;
}
.main__button--call {
  background: var(--main-btn-call-bg);
  color: var(--main-btn-call-color);
  border-radius: 100px;
  padding: 10px 40px;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
  width: 440px;
  height: 110px;
  box-shadow: var(--main-btn-call-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;  
  cursor: pointer; 
  z-index: 7;  
}
.lower-screen .main__button--call {
  width: 300px;
  padding: 10px 20px;
}
.main__button--call:active {
  background: var(--main-btn-call-bg-active);
	box-shadow: var(--main-btn-call-box-shadow-active); 
}
.main__button__icon--call {
  width: 60px;
  height: 60px;
  background-image: var(--main-btn-call-img);  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main__button--call .button__title {
  width: 300px;
  height: 53px;
  text-align: center;
  display: block;
}
.lower-screen .main__button--call .button__title {
  width: 200px;
  height: 43px;
  font-size: 36px;  
}

/* Main Bottom Buttons */
.main__button {
	width: 310px;
	height: 110px;
	border-radius: 100px;
  padding: 10px 40px;
  line-height: 1;
  letter-spacing: -1px;
  box-shadow: 0px -6px 0px 0px #00000040 inset;
}
.main__icon {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main__icon--prev {
  background-image: var(--main-btn-prev-img);
}
.main__icon--next {
  background-image: var(--main-btn-next-img);
}
.main__icon--home {
  background-image: var(--main-btn-home-img);
}
.disabled .main__button__icon--next {
  background-image: var(--main-btn-next-img-disabled);
}
.button__title {
  display: block;
  text-align: center;
  height: 53px;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: center;
}
.main__button .button__title {
  width: 190px;
}
.main__button--primary {
  background: var(--main-btn-primary-bg);
  box-shadow: var(--main-btn-primary-box-shadow);
  color: var(--main-btn-primary-color);
}
.main__button--primary:active {
  background: var(--main-btn-primary-bg-active);
  box-shadow: var(--main-btn-primary-box-shadow-active);
}
.main__button--secondary {
  background: var(--main-btn-secondary-bg);
  box-shadow: var(--main-btn-secondary-box-shadow);
  color: var(--main-btn-secondary-color);
  border: var(--main-btn-secondary-border);
}
.main__button--secondary:active {
  background: var(--main-btn-secondary-bg-active);
  box-shadow: var(--main-btn-secondary-box-shadow-active);
}
.main-button-dark {
  background: var(--main-btn-dark-bg);
  box-shadow: var(--main-btn-dark-box-shadow);
  color: var(--main-btn-dark-color);
  border: var(--main-btn-dark-border);
}
.main-button-dark:active {
  background: var(--main-btn-dark-bg-active);
  box-shadow: var(--main-btn-dark-box-shadow-active);
}
/* Control bar */
.accessibility__button {
  font-family: var(--font-family-default);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: var(--accessibility-btn-bg);
  color: var(--accessibility-btn-color);
  border-radius: 10px;
  padding: 22px 14px 22px 66px;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -2px;
  width: 240px;
  height: 80px;
  box-shadow: 0px -3px 0px 0px #00000040 inset, 0px 1px 2px 0px #00000033;
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}  
.accessibility__button:active {
  color: var(--accessibility-btn-color-active);
}
.accessibility__button--high-contrast {
  background: var(--accessibility-high-contrast);
}
.accessibility__button--high-contrast:active {
  background: var(--accessibility-high-contrast-active);
}
.accessibility__button--high-contrast.accessibility__button--active {
  background: var(--accessibility-high-contrast-active);
  color: var(--accessibility-btn-color-active);
}
.accessibility__button--lower-screen {
  background: var(--accessibility-lower-screen);
}
.accessibility__button--lower-screen:active {
  background: var(--accessibility-lower-screen-active);
}
.accessibility__button--lower-screen.accessibility__button--active {
  background: var(--accessibility-lower-screen-active);
  color: var(--accessibility-btn-color-active);
}
.accessibility__button--full-screen {
  background: var(--accessibility-full-screen);
}
.accessibility__button--full-screen:active {
  background: var(--accessibility-full-screen-active);
}
.accessibility__button--full-screen.accessibility__button--active {
  background: var(--accessibility-full-screen-active);
  color: var(--accessibility-btn-color-active);
}
.accessibility__button img {
	width: var(--header-btn-icon-size);
	height: var(--header-btn-icon-size);
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.accessibility__text {
  width: 152px;
  height: 43px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  display: block;
}
.accessibility__button:active .accessibility__text {
  color: var(--accessibility-btn-color-active);
}
.control-bar__sound-button {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  cursor: pointer;  
  border: var(--control-bar-sound-button-border);
  background: var(--control-bar-sound-button-bg);
  box-shadow: var(--control-bar-sound-button-box-shadow);
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-bar__sound-button:active {
  background: var(--control-bar-sound-button-bg-active);
  box-shadow: var(--control-bar-sound-button-box-shadow-active);
}
.control-bar__sound-icon {
  border: none;  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.control-bar__sound-icon--minus {
  width: 32px;
  height: 32px;
  background-image: var(--control-bar__sound-icon--minus);
}
.control-bar__sound-icon--plus {
  width: 32px;
  height:32px;
  background-image: var(--control-bar__sound-icon--plus);
}
.control-bar__sound-icon--volume {
  width: 60px;
  height: 60px;
  background-image: var(--control-bar__sound-icon--volume);
}
.pagination__button {
  width: 100px;
  height: 120px;
  border-radius: 10px;
  border: var(--pagination-btn-border);
  background: var(--pagination-btn-bg);
  cursor: pointer;
  line-height: 1;
	box-shadow: var(--pagination-btn-box-shadow); 
}
.pagination__button:active {
  background: var(--pagination-btn-bg-active);
	box-shadow: var(--pagination-btn-box-shadow-active); 
}
.pagination__button:disabled {
	cursor: not-allowed;
	transform: none;
  background: var(--pagination-btn-bg);
  border: var(--pagination-btn-border-disabled);
}
.pagination__button:disabled img {
	opacity: 0.3;
}
.pagination__button:disabled:active {
  background: var(--pagination-btn-bg);
	box-shadow: var(--pagination-btn-box-shadow); 
}
.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}
.lower-screen .pagination {
  gap: 10px;
}
.pagination__page {
  width: 120px;  
  font-family: var(--font-family-default);
	color: var(--pagination-page-color);
  font-size: 42px;
	font-weight: 500;
	line-height: 1.4;
  letter-spacing: 3px;
	text-align: center;
	vertical-align: middle;
}
.lower-screen .pagination__page {
  margin: 0 40px;
  width: 120px;
}
.pagination__page strong {
  color: var(--pagination-page-accent-color);
	font-weight: 600;
}
.pagination--horizontal {
	flex-direction: row;
}
.lower-screen .pagination--horizontal {
  margin-top:0px;
}
.pagination--horizontal .pagination__button {
  width: 100px;
  height: 70px;
  border-radius: 10px;
  border: var(--pagination-btn-border);
  color: var(--pagination-btn-color);
  background: var(--pagination-btn-bg);
  cursor: pointer;
  line-height: 1;
	box-shadow: var(--pagination-btn-box-shadow);
  font-family: var(--font-family-default);  
  font-size: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.lower-screen .pagination--horizontal .pagination__button {
  z-index: 777;
  width: 100px;  
  height: 70px;
}
.pagination--horizontal .pagination__button:active {
  background: var(--pagination-btn-bg-active);
	box-shadow: var(--pagination-btn-box-shadow-active); 
}
.pagination--horizontal .pagination__button:disabled {
	cursor: not-allowed;
	transform: none;
  background: var(--pagination-btn-bg-disabled);  
  color: var(--pagination-btn-color-disabled);
  border: var(--pagination-btn-border-disabled);
  box-shadow: var(--pagination-btn-box-shadow-disabled);
}
.pagination--horizontal .pagination__button:disabled:active {
  background: var(--pagination-btn-bg-disabled);
  border: var(--pagination-btn-border-disabled);
}
.pagination-icon-arrow-up,
.pagination-icon-arrow-down,
.pagination-icon-arrow-prev,
.pagination-icon-arrow-next {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
}
.pagination__button .pagination-icon-arrow-up {
  background-image: var(--pagination-icon-arrow-up);
}
.pagination__button .pagination-icon-arrow-down {
  background-image: var(--pagination-icon-arrow-down);
}
.pagination__button:disabled .pagination-icon-arrow-up {
  background-image: var(--pagination-icon-arrow-up-disabled);
}
.pagination__button:disabled .pagination-icon-arrow-down {
  background-image: var(--pagination-icon-arrow-down-disabled);
}
.pagination--horizontal .pagination__button .pagination-icon-arrow-prev {
  background-image: var(--pagination-horizontal-icon-arrow-prev);
}
.pagination--horizontal .pagination__button .pagination-icon-arrow-next {
  background-image: var(--pagination-horizontal-icon-arrow-next);
}
.pagination--horizontal .pagination__button:disabled .pagination-icon-arrow-prev {
  opacity: 0.6;
}
.pagination--horizontal .pagination__button:disabled .pagination-icon-arrow-next {
  opacity: 0.6;
}
.cart__header-btn {
  width: 150px;
  height: 60px;
  font-family: var(--font-family-default);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--cart-header-btn-color);
  background: var(--cart-header-btn-bg);  
  border: var(--cart-header-btn-border);  
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;    
  align-items: center; 
  justify-content: center;  
}
.cart__header-btn:active {
  color: var(--cart-header-btn-color-active);  
  background: var(--cart-header-btn-bg-active); 
}
.cart__pay-button {
  width: 100%;  
  font-family: var(--font-family-default);
  height: 150px;
  border-radius: 20px;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -1px;
  color: var(--cart-pay-btn-color);
  border: var(--cart-pay-btn-border);  
  background: var(--cart-pay-btn-bg);
  box-shadow: var(--cart-pay-btn-box-shadow);
  cursor: pointer;
  display: flex;    
  align-items: center; 
  justify-content: center;
  gap: 12px;
}
.lower-screen .cart__pay-button {
  width: 360px;
  height: 150px;
  margin: 0;
  line-height: 1.2; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 10px;  
}
.cart__pay-button:active {
  background: var(--cart-pay-btn-bg-active);
  box-shadow: var(--cart-pay-btn-box-shadow-active);
}
.cart__pay-button.cart__pay-button--disabled {
	cursor: not-allowed;  
  color: var(--cart-pay-btn-color-disabled);
  background: var(--cart-pay-btn-bg-disabled);
  box-shadow: var(--cart-pay-btn-box-shadow-disabled);
  border: var(--cart-pay-btn-border-disabled);    
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.cart__pay-button.disabled:active {
  color: var(--cart-pay-btn-color-disabled-active);
  background: var(--cart-pay-btn-bg-disabled-active);
  box-shadow: var(--cart-pay-btn-box-shadow-disabled-active);  
}
.cart__pay-amount,
.cart__pay-text {
  display: inline-block;
}
.lower-screen .cart__pay-text {
  font-size: 44px;
}

.address-info-box__edit {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: var(--address-info-box-edit-border);
  background: var(--address-info-box-edit-bg);
  font-size: 40px;
  font-weight: 500;
	line-height: 1.1;
	letter-spacing: -1px;
  color: var(--fc-base-color);
  box-shadow: var(--address-info-box-edit-box-shadow); 
  cursor: pointer;
}
.address-info-box__edit:active {
  background: var(--address-info-box-edit-bg-active);
  box-shadow: var(--address-info-box-edit-box-shadow-active); 
}
.payment-method__button {
	width: 400px;
	height: 300px;
	border-radius: 20px;
	padding: 35px 10px 45px 10px;
  font-family: var(--font-family-default);
  background: var(--payment-method-btn-bg);
  border: var(--payment-method-btn-border);
  box-shadow: var(--payment-method-btn-box-shadow); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.lower-screen .payment-method__button {
	width: 400px;
	height: 170px;  
  flex-direction: row;
  gap: 0px;  
}
.payment-method__button:active {
  background: var(--payment-method-btn-bg-active);
  box-shadow: var(--payment-method-btn-box-shadow-active); 
}
.payment-method__button:disabled {
  opacity: 0.3;
	cursor: not-allowed;    
  box-shadow: none;
  transform: none;
}
.payment-method__button:disabled:active{
  background: var(--cart-item-quantity-btn-bg);
  box-shadow: var(--cart-item-quantity-btn-box-shadow-active);
}
.payment-method__button:disabled img {
  filter: grayscale(100%);
}
